@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

input:autofill,
input:autofill:hover,
input:autofill:focus,
input:autofill:active {
	-webkit-text-fill-color: #000;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
}

/* main */
.area span {
    width: 10%;
    height: 21px;
    padding-left: 20px;
    padding-right: 20px;
    color: #4B4B4B;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}
.area input, .file_area {
    height: 40px;
    border: 0.5px solid #DDDDDD;
    box-sizing: border-box;
    padding-left: 10px;
    font-size: 13px;
    width: 47%;
}
.area input:focus-visible,.area textarea:focus-visible {
    border: 0.5px solid #F43F1F !important;
}

.area1,.area2,.area3,.area4,.area5{
    margin-bottom: 30px;
    display: flex;
}
.area3 {
    align-items: center;
    width: 100%;
}
.link_wrap {
    width: 47%;
}
.link_wrap input {
    width: 100%;
}
.area1{
    height: 60px;
    align-items: center;
}

#radio_1, #radio_2{
	display: none;
}

.screening_area{
	display: flex;
	margin-bottom: 12px;
	margin-right: 20px;
}

.screening_area div {
    color: #4B4B4B;
    font-family: 'Pretendard';
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: -0.6px;
}

.screening_area input[type="radio"] + label {
	display: inline-block;
	width:25px; 
	height: 25px; 
	background: #FFF;
	cursor: pointer; 
	border-radius: 50%;
	border: 1px solid #DFDFDF;
    margin-right: 10px;
}

.screening_area input[type="radio"]:checked + label {
	background:url(../imgs/check_icon.png) no-repeat center/25px 25px; 
	float: right;
	border: 1px solid rgba(244, 63, 31, 1);
}
.date_wrap {
    width: 30%; 
    /* max-width: 400px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.date_wrap span{
    width: auto;
    border: 0;
    padding: 0;
    width: 40%;
    height: 60px;
    position: relative;
}

.date_wrap .date_input{
    width: 60%; min-width : 210px;
    padding-right: 10px;
    padding-top: 15px;
    cursor: pointer;
    background: url(../imgs/register-calendar.svg) no-repeat;
    background-origin: content-box;
    background-position-x: right;
    background-position-y: 13px;
}
/* date 기본글 */
/* .date_wrap input[type="date"]::before{
    content: attr(data-placeholder);
    width: 100%;
}
.date_wrap input[type="date"]:focus::before, .date_wrap input[type="date"]:valid::before{
    display: none;
} */
.area2{
    align-items: center;
}
.area .area2 textarea {
    padding:10px;
    resize:none;
    width: 70%; 
    /* max-width: 1000px; */
    min-height:100px;
    border: 0.5px solid #DDDDDD;
    box-sizing: border-box;
    font-size: 15px;
    overflow: hidden;
}
.area5 input[name="event_deadline"]{
    width: 60%;
}
.area3 p{
    font-size: 13px;
    font-weight: 500;
}
.area3 .file_area{
    width: 70%; 
    display: flex;
    justify-content: space-between;
}
.area3 #file_names{
    width: calc(100% - 61px); height: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 10px;
    box-sizing: border-box;

}
#file_names >div{
    max-width: 19%; height: 20px;
    font-size: 15px;
}
.area3 .file_con{
    display: flex;
    justify-content: center;
    gap: 5px;
}
.file_con .filename{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 13px;
}
.file_con img{
    width: 15px; height: 15px;
    cursor: pointer;
    margin-top: 2px;
}

.area3 label {
    width: 60px;
    border: 0;
    background-position: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file_area label img {
    width: 24px;
    height: 24px;
}

.link_wrap input:last-child {
    margin-top: 8px;
}

.area4 span:first-child,.area5 span:first-child{
    margin-top: 10px;
}

.area4 .area4_pn {
    /* position:relative; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.area4_pn input{
    width: 250px;
}

.area4 .area4_pn span {
    border-left:0;
    position: relative;
    width: auto;
    height: auto;
    padding: 0;
    margin-left: 10px;
}
.area4_pn span:nth-child(3){
    margin-right: 10px;
}
.area4 .area4_pn p, .date_wrap p{
    position: absolute;
}

.area4 .area4_pn p:nth-child(1), .date_wrap p{
    color: #999999;
    font-size: 11px;
    font-weight: 300;
    top: 10px; left: 10px;
}
.area4 .area4_pn p:nth-child(2){
    font-size: 15px;
    font-weight: 500;
    bottom: 13px; right: 20px;
}

.area4_pn .input_pn {
    padding-top: 15px;
    width:110px;
}
.area4_pn .input_pp{
    padding-top: 15px;
    width:110px;
}
.area4_pn .input_st, .area4_pn .input_et{
    padding-top: 15px;
    width: 80px;
}

.btn_wrap {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#cancel_btn {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #F43F1F;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #F43F1F;
    font-family: 'PRETENDARD';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

#submit_btn, #update_btn {
    display: flex;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    color: #FFF;
    font-family: 'PRETENDARD';
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    border: 1px solid #F43F1F;
    background: #F43F1F;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    cursor: pointer;
}
@media all and (min-width:768px) and (max-width:1023px){}
@media all and (min-width:320px) and (max-width:767px){}