@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
	font: 'Pretendard';
}

button{
	border:none;
	background:none;
}

.content{
	width: 1100px;
	margin: 0 auto;	
}

.area{
    padding-bottom: 40px;
}

.list {
    margin-top:20px;
    min-height: 496px;
    overflow: hidden;
}

.list #top_ol {
    border-top: 1px solid #BBBBBB;
    border-bottom: 1px solid #BBBBBB;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 3px 6px #0000000d;
    align-items: center;
    background: #FFE9E5;
    color: #4B4B4B;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

#top_ol div li {
    display:inline-block;
    margin-top:17.5px;
    margin-bottom:17.5px;
    color: #666666;
}

.list_ol {
    display: flex;
    border-bottom: 1px solid #DDDDDD;
    /* line-height: 72px; */
    height: 72px;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 0;
    /* margin: auto 0; */
    box-sizing: border-box;
    align-items: center;
}

.list_board {
    display: flex;
    border-bottom: 1px solid #DDDDDD;
    height: 46px;
    font-weight: 600;
    font-size: 14px;
    padding: 15px 0;
    box-sizing: border-box;
    align-items: center;
}

.list_ol:hover {
    background-color: rgba(245, 245, 245, 0.5);
}

.list_board:hover{
	background-color: rgba(245, 245, 245, 0.5);
}

.list_ol li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.list_board li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


.title_area {
    width: 15%;
    text-align: center;
    color: #1A1A1A;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.date_area {
    width: 15%;
    text-align: center;
    color: #1A1A1A;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
}

#top_ol .date_area{
	color: #4B4B4B;
	text-align: center;
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
}

#top_ol .status_area{
	color: #4B4B4B;
	text-align: center;
	font-family: Pretendard;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: 19px;
}

.status_area {
    width: 15%;
    text-align: center;
    color: #1A1A1A;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
}

.vehicle_area, .request_area {
    width: 10%;
    text-align: center;
    color: #1A1A1A;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.message_area {
    width: 20%;
    text-align: center;
    color: #1A1A1A;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.phone_area{
	width: 10%;
    text-align: center;
    color: #1A1A1A;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.email_area{
	width: 20%;
    text-align: center;
    color: #1A1A1A;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.rental_area{
	width: 20%;
    text-align: center;
    color: #1A1A1A;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.file_area {
    width: 10%;
    color: #1A1A1A;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-decoration-line: underline;
}

.confirm_area{
	width: 13%;
	text-align: center;
}

.confirm_area a {
    background-color: #F43F1F;
    color: white;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    gap: 8px;
    border: 1px solid #F43F1F;
    background: #F43F1F;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    display: inline-block;
}

.a_count{
	border: 1px solid #DDDDDD;
	border-radius: 20px;
	width: 72px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	margin-top: 8.5px;
	margin-left: auto;
	margin-right: auto;
	box-shadow: 0px 3px 10px #99999929;
	cursor: pointer;
	background-color: #ffffff;
}

.red{
	color: #DD5067;
}
.black{
	color: #333333;
}
.gray {
    color: #999999;
    color: #1A1A1A;
    text-align: center;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

/* 사용자 페이지 */
.index_area_s{
	margin-left:4%;
	width: 5%;
}

.title_area_s{
	width: 35%;
	text-align: center;
}

.date_area_s{
	width: 45%;
	text-align: center;
}

.status_area_s{
	width: 10%;
	text-align: center;
}

.null, .notnull_keyword, .notnull_date, .notnull_all{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pagewrap{
	display: flex;
}

.pagewrap li{
    text-align: center;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
}

.pagewrap .page_icon{
	width: 32px;
    height: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#pg_btn_sizing {
    width: 16.081px;
    height: 14.275px;
}

.page-item {
    width: 32px;
    height: 32px;
/*    border: 1px solid #DDDDDD;*/
}

.pagewrap li a{
	line-height: 30px;
	color: #999999;
}

.pagewrap img{
	width: 100%;
	height: 100%;
}

.page-link{
	display:block;
}

.icon_right{
/*	padding-right:10px;*/
}
.icon_left{
/*	padding-left:10px;*/
}


.page-item .thisPage{
    color: #4B4B4B;
    border: 1px solid #4B4B4B;
}

/*------박물관 소식-------*/
.check_area {
    /* padding: 15px 40px; */
    box-sizing: border-box;
    height: 46px;
    width: 10%;
}

.check_area {
    box-sizing: border-box;
    height: 46px;
    width: 8%;
    height: 46px;
    padding: 15px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
}

.num_area {
    width: 10%;
    display: flex;
    /* width: 100px; */
    height: 46px;
    padding: 15px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.newsTitle_area {
    height: 46px;
    padding: 15px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 67.5%;
}

.newsDate_area {
    height: 46px;
    padding: 15px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 13.5%;
}

.newsbtn_area {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom:25px;
}

#delete_btn {
    /* display: flex; */
    width: 60px;
    height: 40px;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    border: 1px solid #F43F1F;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #F43F1F;
    font-family: 'Noto Sans KR', sans-serif;;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

#modify_btn {
    /* display: flex; */
    width: 60px;
    height: 40px;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    border: 1px solid #F43F1F;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #F43F1F;
    font-family: 'Noto Sans KR', sans-serif;;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    margin-right: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

#insert_btn {
    display: flex;
    width: 60px;
    height: 40px;
    padding: 10px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 1px solid #F43F1F;
    background: #F43F1F;
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: #FFF;
    font-family: 'Noto Sans KR', sans-serif;;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    box-sizing: border-box;
    cursor: pointer;
}

/* --------팝업 설정 리스트------ */
.popupTitle_area{
	height: 46px;
    padding: 15px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    display: flex;
    width: 60%;
}