@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    margin: 0;
}

.wrap{
	width: 100%;
    margin: 0 auto;
}

.contents_wrap{
/*	height: 170px;*/
}

.page_title{
	border-bottom: 2px solid black;
    width: 62.5%;
    margin: 0 auto;
}

.page_name_area {
    /* text-align: center; */
    /* margin: 100px auto; */
    font-size: x-large;
    margin-top: 108px;
    margin-bottom: 50px;
    color: #222;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    box-sizing: border-box;
}

/* ---------박물관 소식 리스트---------*/
.list_wrap {
    width: 62.5%;
    margin: 0 auto;
}

.contentTop_area {
    width: 62.5%;
    margin: 0 auto;
    height: 42px;
    margin-top: 50px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.total_count {
    display: flex;
    color: #222;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

p.total_red {
    color: #F43F1F;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 30px;
    margin-left: 5px;
}

.search_area {
    width: 40%;
}

.text_search {
    display: flex;
    width: 100%;
}

.word_search {
    width: 90%;
    height: 42px;
    background: #FFF;
    border: 0.5px solid #BBBBBB;
    opacity: 1;
    border-right: none;
    padding-left: 15px;
    box-sizing: border-box;
}

.text_search .search_button {
    width: 10%;
    display: flex;
    border: 1px solid #D2D2D2;
    border-left: none;
    background: #000;
}

.search_button .search_img {
    margin: 0 auto;
    cursor: pointer;
    border: none;
    background: #000;
}

.list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 5%;
}

.news_div {
    list-style: none;
    margin-bottom: 2.5%;
    width: calc(100%/3 - 12px);
    cursor: pointer;
    padding-right: 12px;
/*     box-sizing: border-box; */
}

.news_div:nth-child(3n) {
    list-style: none;
    margin-bottom: 2.5%;
/*     width: 33.3%; */
    padding-right: 0;
    box-sizing: border-box;
}

#poster {
    height: 100%;
    width: 100%;
}
.news_info {
    margin: 20px;
    box-sizing: border-box;
}

.news_poster {
    height: 384px;
}

.news_title {
    color: #222;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.54px;
}

.news_detail {
    color: #565656;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
    margin-top: 8px;
}

/*--------박물관 이벤트-----------*/
/*--포스터형식 리스트--*/
.event_poster {
    height: 544px;
}

/*------페이징------*/
.null, .notnull{
    width: 100%;
    display: flex;
    justify-content: center;
}
.pagewrap{
	display: flex;
	margin-top: 50px;
    margin-bottom: 100px;
}

.pagewrap li{
    text-align: center;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    list-style: none;
}
.page-item .page-link{
	color: #818181;
	font-family: Pretendard;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: 14px;
	border: 1px solid #D9D9D9;
	line-height: 32px;
}

.page-item .page-link:nth-child(2){
	border-left: none;
}

.page-item .page-link:nth-child(3){
	border-left: none;
}

.page-item .page-link:nth-child(4){
	border-left: none;
}

.page-item .page-link:nth-child(5){
	border-left: none;
}

.pagewrap .page_icon{
	width: 32px;
    height: 32px;
    align-items: center;
    display: flex;
    justify-content: center;
}

#pg_btn_sizing {
    width: 16.081px;
    height: 14.275px;
}

.page-item {
    width: 32px;
    height: 32px;
/*    border: 1px solid #DDDDDD;*/
}

.pagewrap img{
	width: 100%;
	height: 100%;
}

.page-link {
    display: block;
    line-height: 32px;
    color: #BABABA;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
}
.page-item .thisPage {
    box-sizing: border-box;
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    border: 1px solid #4B4B4B !important;
}

/*-------공고 리스트--------*/
.notice_list {
    margin-top: 50px;
    min-height: 400px;
}

#top_ol_notice {
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    height: 60px;
    border-top: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    background: #F5F5F5;
    padding: 15px 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: space-between;
}

.noticeNum_area {
    width: 7%;
}

.noticeTitle_area {
    width: 50%;
    text-align: left;
}

.noticeWriter_area {
    width: 15%;
}

.noticeDate_area {
    width: 15%;
}

.list_board {
    display: flex;
    list-style: none;
    padding-inline-start: 0px;
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    height: 80px;
    padding: 25px 20px;
    box-sizing: border-box;
    align-items: center;
    border-bottom: 1px solid #D2D2D2;
    justify-content: space-between;
}

.title_link{
	cursor: pointer;
}

/*------------Q&A 비밀번호 일치여부 확인 모달------------*/
#check_modal {
    position: fixed;
    width:100%;
    height: 100%;
    z-index: 1;
    top: 0;
    display: none;
}

.check_modal_content {
    width: 550px;
    height: 560px;
    position: absolute;
    top: calc(13%);
    left: calc(13%);
    background: #fff;
    border: none;
    padding: 80px;
    box-sizing: border-box;
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.12);
}

#check_modal_content_wrap {
    box-sizing: border-box;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 27px;
}

#check_modal_img {
    width: 130px;
}

.check_title {
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.72px;
    margin-bottom: 10px;
}

.check_detail {
    color: #6B6B6B;
    text-align: center;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.66px;
}

#check_pw {
    text-align: center;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 12.1px;
    height: 52px;
    background: #FFF;
    border: none;
}

#modal_pw_input input:focus {outline: none;}

#modal_pw_input {
    border-bottom: 1px solid #B0B0B0;
}

.check_modal_layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #33333326;
    z-index: -1;
}

#check_modal_ok_btn {
    background: #F43F1F;
    width: 390px;
    height: 50px;
    color: #FFF;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
}