@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    margin: 0;
}

.wrap{
	width: 1760px;
    margin: 0 auto;
}

.contents_wrap{
	height: 170px;
}

.page_title{
	border-bottom: 2px solid black;
}

.page_name_area{
	text-align: center;
	margin: 100px auto;
	font-size: x-large;
}

/* ---------전시관선택 및 개인정보 동의 PAGE--------- */

.place_area {
    width: 62.5%;
    margin: 10px auto 100px auto;
}

.agree_area {
    width: 62.5%;
    /* height: 300px; */
    margin: 70px auto;
}

.agree_title div{
	color: #222;
    font-family: 'Pretendard';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.84px;
    margin-bottom: 30px;
}

.agree_txtbox{
	border: 1px solid #D2D2D2;
    padding: 30px;
}

.text_top {
    color: #222;
    font-family: 'Pretendard';
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.6px;
    margin-bottom: 30px;
}

.text_content {
    color: #222;
    font-family: 'Pretendard';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6px;
}

#agree_check{
	display: none;
}

.agree_contents input[type="checkbox"] + label {
	display: inline-block;
	width:25px; 
	height: 25px; 
	background: #FFF;
	cursor: pointer; 
	border-radius: 50%;
	border: 1px solid #DFDFDF;
    margin-right: 10px;
}

.agree_text{
	color: #222;
    font-family: 'Pretendard';
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.6px;
}

.agree_contents input[type="checkbox"]:checked + label {
	background:url(../imgs/check_icon.png) no-repeat center/25px 25px; 
	float: right;
	border: 1px solid rgba(244, 63, 31, 1);
}

.agree_btnArea {
    display: flex;
    margin-top: 30px;
    margin-left: 30px;
}

#radio_1, #radio_2{
	display: none;
}

.place_btnArea{
	display: flex;
	margin-bottom: 12px;
}

.place_btnArea:last-child{
	margin-bottom: 0px;
}

.place_btnArea div {
    color: #222;
    font-family: 'Pretendard';
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    /* line-height: 170.02%; */
    letter-spacing: -0.6px;
}

.place_btnArea input[type="radio"] + label {
	display: inline-block;
	width:25px; 
	height: 25px; 
	background: #FFF;
	cursor: pointer; 
	border-radius: 50%;
	border: 1px solid #DFDFDF;
    margin-right: 10px;
}

.place_btnArea input[type="radio"]:checked + label {
	background:url(../imgs/check_icon.png) no-repeat center/25px 25px; 
	float: right;
	border: 1px solid rgba(244, 63, 31, 1);
}

.place_title div{
	color: #222;
    font-family: 'Pretendard';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.84px;
    margin-bottom: 30px;
}

.place_txtbox{
	border: 1px solid #D2D2D2;
    padding: 30px;
}

/* .agree_contents .all_agree:after {display:block; clear:both; content:"";} */

/* ---------DATE PAGE--------- */
/* 달력 ui */
.time_wrap{
	display: flex;
/*	width: 62.5%;*/
	margin: 30px auto;	
}

.calendarTime_area {
    width: 62.5%;
    margin: 0 auto;
}

.time_title div{
	color: #222;
    font-family: 'Pretendard';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.84px;
    margin-bottom: 30px;
}

.calendar_area{
	width: 50%;	
}

.sec_cal {
/*    width: 360px;*/
    margin: 0 auto;
    font-family: "NotoSansR";
    border: 1px solid #C7C7C7;
    height: 662px;
    margin-right: 12px;
}

.sec_cal .cal_nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #202020;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 104px;
    height: 104px;
    letter-spacing: -0.84px;
    border-bottom: 1px solid #C7C7C7;
}

.sec_cal .cal_nav .year-month {
/*    width: 300px;*/
    text-align: center;
    line-height: 1;
    margin: 0 45px;
}

.sec_cal .cal_nav .nav {
    display: flex;
    border: 1px solid #333333;
    border-radius: 5px;
}

.sec_cal .cal_nav .go-prev, .sec_cal .cal_nav .go-next {
/*    display: block;*/
    width: 40px;
    height: 40px;
    font-size: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D9D9D9;
    border-radius: 25px;
}


.sec_cal .cal_wrap {
/*    padding-top: 40px;*/
    position: relative;
    margin: 0 auto;
}

.sec_cal .cal_wrap .days {
    display: flex;
/*    margin-bottom: 20px;*/
/*    padding-bottom: 20px;*/
    border-bottom: 1px solid #EAEAEA;
}

.sec_cal .cal_wrap::after {
    top: 368px;
}

.sec_cal .cal_wrap .dates .day {
    display: flex;
    align-items: center;
    justify-content: center;
     width: calc(100% / 7); 
    /* text-align: left; */
    /* color: #999; */
    font-size: 22px;
    /* text-align: center; */
/*    width: 60px;*/
/*    height: 60px;*/
/*    margin: auto 0;*/
    margin: 9px 0;
}

.days .day{
	color: #202020;
	text-align: center;
	width: calc(100% / 7);
	font-family: 'Pretendard';
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: 95px;
	letter-spacing: -1.68px;
}

.disable{
	color: #969696;
	text-align: center;
	font-family: 'Pretendard';
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: 60px;
	letter-spacing: -1.54px;
/*	width: 60px;*/
/*	height: 60px;*/
}

.current.today {background-color: #E4E4E4;}

.current.choice {border: 1px solid red; border-radius: 15px;}

.dayStyle {
/*     border: 1px solid red; */
/*     border-radius: 15px; */
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    color: #202020;
	text-align: center;
	font-family: 'Pretendard';
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -1.54px;
}

.choiceDay {
    background: #F43F1F;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
/*    text-align: center;*/
/*    line-height: 60px;*/
/*    font-size: 22px;*/
    display: flex;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.54px;
}


.sec_cal .cal_wrap .dates {
    display: flex;
    flex-flow: wrap;
    height: 290px;
/*    margin-top: 10px;*/
}

.sec_cal .cal_wrap .days .day:nth-child(7n) {
    color: #3c6ffa;
}

.sec_cal .cal_wrap .days .day:nth-child(7n -6) {
    color: #ed2a61;
}

.day current .day{
	color: #202020;
	text-align: center;
	font-family: 'Pretendard';
	font-size: 22px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: -1.54px;
}

.resDate_check{
	width: 360px;
	height: 70px;
	margin: 10px auto;
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.resDate_text {
    border: 1px solid red;
    display: flex;
    vertical-align: middle;
    width: 100%;
    height: 100%;
    align-items: center;
}

.reservation_date {
    width: 70%;
    border: 1px solid blue;
    height: 100%;
    text-align: center;
    line-height: 70px;
}

/* 회차별 시간표 */
.date_inform {
    height: 104px;
    line-height: 104px;
    text-align: center;
    justify-content: center;
    display: flex;
    border-bottom: 1px solid #C7C7C7;  
}

.today_title{
	color: #F43F1F;
	text-align: center;
	font-family: Pretendard;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 104px;
	letter-spacing: -0.84px;
	margin-right: 10px;
}

.choice_title{
	color: #F43F1F;
	text-align: center;
	font-family: Pretendard;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 104px;
	letter-spacing: -0.84px;
	margin-right: 10px;
}

.date_inform_txt{
	color: #202020;
	font-family: Pretendard;
	font-size: 28px;
	font-style: normal;
	font-weight: 700;
	line-height: 104px;
	letter-spacing: -0.84px;
}

#top_ol {
    display: flex;
    height: 95px;
    line-height: 95px;
    list-style: none;
    color: #202020;
    text-align: center;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    border-bottom: 1px solid #EAEAEA;
    padding-inline-start: 0px;
}
.time_num_top {
    width: 20%;
}
.visit_time_top {
    width: 18%;
}
.limit_num_top {
    width: 30%;
}
.res_btn_top {
    width: 28%;
}

.time_num{
	width: 20%;
}
.visit_time{
	width: 20%;
}
.limit_num{
	width: 30%;
}
.res_btn{
	width: 30%;
}

#time_data {
    color: #202020;
    text-align: center;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-inline-start: 0px;
    overflow: scroll;
    height: 454px;
}

.time_info {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #EAEAEA;
}

.time_info li{
    list-style: none;
}

.turnTable_area{
	margin: 0 auto;
    text-align: center;
    align-items: center;
    width: 50%;
}

.table_contents{
	border: 1px solid #C7C7C7;
	height: 662px;
	margin-left: 12px;
}

.time_list ul{
	display: block;
}

.time_info input[type="radio"]{
	display: none;	
}

.time_info input[type="radio"] + label {
	display: inline-block;
	width:106px; 
	height: 45px; 
	background: #202020;
	cursor: pointer;
	color: #FFF;
	text-align: center;
	font-family: Pretendard;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 45px;
/*     margin-right: 10px; */
}

.time_info input[type="radio"]:checked + label {
	display: inline-block;
	width:106px; 
	height: 45px; 
	background: #F43F1F;
	cursor: pointer; 
	color: #FFF;
	text-align: center;
	font-family: Pretendard;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 45px;
}

.res_unable{
	display: inline-block;
	width:106px; 
	height: 45px;
	background: #E4E4E4;
	color: #202020;
	text-align: center;
	font-family: Pretendard;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 45px;
}

.res_table {
    border-top: 1px solid #222;
    width: 100%;
}

.res_table thead{
	font-family: 'Noto Sans KR',sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    word-break: keep-all;
    letter-spacing: -0.5px;
    font-weight: 400;
    line-height: 1.4;
}

.res_table tr {
    text-align: center;
}

.res_table thead th {
    padding: 14px 15px;
/*     font-weight: 500; */
    line-height: 1.2;
    background: #fff;
    border: 1px solid #e2e2e2;
    border-width: 0 1px 1px 1px;
}

.res_table tbody tr.off th {
    border-bottom: 1px solid #eee;
    height: 35px;
}

.res_table tbody tr.off td {
    color: #595959;
    border-bottom: 1px solid #eee;
    height: 35px;
}

/* 버튼 영역 */
.button_area {
    width: 360px;
    margin: 150px auto;
    text-align: center;
}

.button_wrap .info_btn {
    width: 163px;
    height: 64px;
    border: 1px solid #202020;
    background: #FFF;
    color: #202020;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 12px;
    cursor: pointer;
}

.button_wrap .submit_btn {
    width: 163px;
    height: 64px;
    background: #F43F1F;
    color: #FFF;
    border: 1px solid #F43F1F;
    color: #FFF;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 12px;
    cursor: pointer;
}

/* ---------정보기입 PAGE--------- */
.reservation_wrap_info {
    width: 62.5%;
    margin: 0 auto;
    display: none;
}

.info_area{
	margin-top: 70px;
}

.info_title div{
	color: #222;
    font-family: 'Pretendard';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.84px;
    margin-bottom: 30px;
}

.info_guide {
    border: 1px solid #D2D2D2;
    padding: 30px;
    margin-bottom: 30px;
}

.info_guide li {
    color: #222;
    font-family: Pretendard;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.6px;
    /* margin: 30px; */
}

.info_table {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    display: flex;
    margin-bottom: 74px;
    width: 100%;
}

.table_left {
    width: 60%;
    margin-right: 12px;
}

.table_right {
    width: 40%;
    margin-left: 12px;
    height: 100%;
    margin: auto;
}

.group_name, .leader_name, .phone_num, .certifi_num, .vehicle_check {
    display: flex;
    height: 92px;
    line-height: 92px;
    border-bottom: 1px solid #D2D2D2;
    width: 100%;
}

.num_input_area {
    width: 33%;
    margin-right: 30px;
}

.request_check{
	display: flex;
    height: 92px;
    line-height: 92px;
}

.group_num {
    display: flex;
    border-bottom: 1px solid #D2D2D2;
    height: 193px;
    line-height: 193px;
    width: 100%;
}

.left_title {
    background: #F5F5F5;
/*     width: 180px; */
    padding-left: 30px;
    color: #222;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    /* line-height: normal; */
    letter-spacing: -0.6px;
    width:27%;
}

.right_title{
	padding-left: 30px;
	width: 73%;
}

.input_groupName, .input_leaderName {
    width: 92%;
}

.studentNum, .adultNum, .leaderNum {
    display: flex;
    height: 64px;
    line-height: 64px;
}

.calc_wrapper {
    width: 73%;
    padding-left: 30px;
}

.vehicle_wrapper, .request_wrapper {
    display: flex;
    padding-left: 30px;
    width: 73%;
    align-items: center;
    color: #222;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
}

.vehicle_1, .vehicle_2, .vehicle_3, .request_1, .request_2{
	display: flex;
	align-items: center;
}

.vehicle_1 div, .vehicle_2 div {
    margin-right: 50px;
}

.request_1 div {
    margin-right: 82px;
}

.table_left input[type="text"] {
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    background: #FFF;
    height: 47px;
    padding-left: 30px;
    color: #222;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
}

.calc_wrapper input[type="text"] {
    height: 42px;
    margin-left: 30px;
    width: 100%;
    padding-left: 0;
    text-align: center;
    color: #222;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
}

.studentNum .num_txt {
/*     width: 57px; */
    color: #222;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -0.66px;
    margin-right: 19px;
}

.adultNum .num_txt {
/*     width: 56px; */
    color: #222;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -0.66px;
    margin-right: 19px;
}

.leaderNum .num_txt {
    color: #222;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 64px;
    letter-spacing: -0.66px;
}

.icon_box {
    padding-left: 30px;
    display: flex;
}

#icon_wrap {
    border-radius: 50px;
    border: 1px solid #B0B0B0;
    background: #F5F5F5;
    width: 32px;
    height: 32px;
    text-align: center;
    position: relative;
}

.plus_icon, .minus_icon{
	margin: auto;
    vertical-align: middle;
    cursor: pointer;
}

.plus_icon{
	margin-right: 15px;
}

.plus_icon img {
    position: absolute;
    left: 7px;
    top: 6.5px;
}

.minus_icon img {
    position: absolute;
    left: 7px;
    top: 6.5px;
}

.adultNum p {
    color: #767676;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -0.6px;
    margin-left: 10px;
}

#right_flex {
    display: flex;
    align-items: center;
}

.input_certifinum, .input_phone {
    width: 62%;
}

#certifinum_submit, #certifinum_check {
    margin-left: 20px;
    border-radius: 5px;
    border: 1px solid #B0B0B0;
    background: #F5F5F5;
    height: 42px;
    color: #222;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    width: 25%;
}

/* -------라디오버튼 css-----  */
#vehicle_1, #vehicle_2, #vehicle_3, #request_1, #request_2{
	display: none;
}

.vehicle_wrapper input[type="radio"] + label {
	display: inline-block;
	width:25px; 
	height: 25px; 
	background: #FFF;
	cursor: pointer; 
	border-radius: 50%;
	border: 1px solid #DFDFDF;
    margin-right: 10px;
}

.vehicle_wrapper input[type="radio"]:checked + label {
	background:url(../imgs/check_icon.png) no-repeat center/25px 25px; 
	float: right;
	border: 1px solid rgba(244, 63, 31, 1);
}

.request_wrapper input[type="radio"] + label {
	display: inline-block;
	width:25px; 
	height: 25px; 
	background: #FFF;
	cursor: pointer; 
	border-radius: 50%;
	border: 1px solid #DFDFDF;
    margin-right: 10px;
}

.request_wrapper input[type="radio"]:checked + label {
	background:url(../imgs/check_icon.png) no-repeat center/25px 25px; 
	float: right;
	border: 1px solid rgba(244, 63, 31, 1);
}

.one_block {
    height: 55%;
    line-height: 80px;
}

.sub_block {
    color: #767676;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.45px;
    margin-bottom: 23px;
    /* height: 35%; */
}

.info_confirm {
    background: #F5F5F5;
    width: 86%;
    height: 82%;
    /* margin: 20px auto; */
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    padding: 39px 30px;
}

.place_confirm {
    text-align: center;
    /* margin: 24px auto; */
    color: #F43F1F;
    font-family: Pretendard;
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 170.02%;
    letter-spacing: -0.9px;
    border-bottom: 1px solid #D2D2D2;
    padding-bottom: 24px;
    height: 50px;
}

.date_confirm, .time_confirm, .num_confirm {
    height: 57px;
    align-items: center;
    display: flex;
    border-bottom: 1px solid #D2D2D2;
}

.div_sticker {
    border-radius: 12.5px;
    background: #6F6F6F;
    width: 60px;
    height: 25px;
    text-align: center;
    color: #FFF;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: -0.48px;
    margin-right: 20px;
}

.date_insert, .time_insert, .num_insert {
    color: #222;
    font-family: Pretendard;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.02%;
    letter-spacing: -0.66px;
}

.num_insert{
	display: flex;
}

.table_area {
    margin: 20px auto;
}

.num_table {
    text-align: center;
    margin-left: 80px;
    padding-bottom: 20px;
}

#top_th {
    display: flex;
    background: #EDEDED;
    width: 100%;
    height: 36px;
    /* align-items: center; */
    line-height: 36px;
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -0.48px;
}

.tb_div {
    width: 30%;
    border-right: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
    /* height: 36px; */
    /* line-height: 36px; */
}

.tb_num {
    width: 35%;
    border-right: 1px solid #D2D2D2;
    border-bottom: 1px solid #D2D2D2;
}

.total_num {
    width: 34%;
    border-bottom: 1px solid #D2D2D2;
}

.student_total, .adult_total, .leader_total {
    height: 36px;
    line-height: 36px;
    display: flex;
    background: #FFF;
    /* align-items: center; */
}

.student_total .tb_div {
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -0.48px;
}

.adult_total .tb_div {
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -0.48px;
}

.leader_total .tb_div {
    color: #222;
    text-align: center;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    /* line-height: normal; */
    letter-spacing: -0.48px;
}

.student_total .tb_num {
    color: #F43F1F;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    letter-spacing: -0.6px;
}

.adult_total .tb_num {
    color: #F43F1F;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    letter-spacing: -0.6px;
}

.leader_total .tb_num {
    color: #F43F1F;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    letter-spacing: -0.6px;
}

.total_check {
    width: 34%;
    /* height: 100%; */
    height: 107px;
    line-height: 107px;
    border-bottom: 1px solid #D2D2D2;
    color: #F43F1F;
    text-align: center;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    letter-spacing: -0.6px;
}

.name_area, .phone_area, .vehicle_area {
    display: flex;
    height: 34px;
    align-items: center;
    margin: 16px auto;
}

.request_area {
    margin-top: 16px;
    display: flex;
    height: 34px;
    align-items: center;
}

.confirm_bottom_title {
    color: #222;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.02%;
    letter-spacing: -0.6px;
    margin-right: 10px;
}

.div_bar {
    color: #D2D2D2;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.02%;
    letter-spacing: -0.6px;
    margin-right: 10px;
}

.name_insert, .phone_insert, .vehicle_insert {
    color: #222;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 170.02%;
    letter-spacing: -0.6px;
}

.request_insert{
	color: #222;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 170.02%;
    letter-spacing: -0.6px;
}

.message_title {
    color: #222;
    font-family: Pretendard;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.72px;
}

input.message_txtbox {
    border-radius: 5px;
    border: 1px solid #C7C7C7;
    background: #FFF;
    height: 180px;
    width: 100%;
    margin-top: 23px;
    color: #C8C8C8;
    font-family: Pretendard;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.6px;
    padding: 15px 30px;
    box-sizing: border-box;
}

