@charset "utf-8";
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
    margin: 0;
}
ul {
    padding-inline-start: 0px;
}
.inwrap {
    width: 1760px;
    margin: 0 auto;
    /*background-color: red;*/
}

header {
    width: 100%;
}
.right_section {
    display: flex;
    align-items: center;

}

.logo_menu {
    display: flex;
    align-items: center;
}

.logo_menu li {
    float: left;
    margin-left: 35px;
}
li a {
    font-size: large;
}
.logo_menu li::marker {
    color: #FF3D00;
    width: 5px;
    height: 5px;
    line-height: 100%;
}

a {
    text-decoration: none;
    color: black;
}

a:active { /*클릭하는 순간*/
    color: #666666;
}

.gnb_bar ul{
	display: flex;
}

.gnb_wrap {
    margin: 0 auto;
    align-items: center;
    height: 50px;
    width: 62.5%;
}

.gnb_wrap .category_1, .category_2, .category_3 {
    color: #202020;
    font-family: 'Pretendard';
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.54px;
    width: 191px;
}

.gnb_wrap li{
	margin-right: 20px;
}

.gnb_wrap .div_bar {
    height: 22px;
    color: rgba(32, 32, 32, 0.3);
    width: 1px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;

}

.head_menu li{
	margin-right: 35px;	
}

.head_menu li a{
	color: #222;
	text-align: center;
	font-family: 'Pretendard';
	font-size: 24px;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
	letter-spacing: -0.72px;
}
.search {
    cursor: pointer;
    padding: 32px 32.5px;
    background-color: #202020;
}
.toggle_btn {
    cursor: pointer;
    padding: 29.5px 30px;
    background-color: #F43F1F;
}

.search img {
    width: 35px;
}

.toggle_btn img{
	width: 40px;
}
.menu img {
    width: 30px;
    position: absolute;
    right: 100px;
    top: 20px;
}

.menu {
    display: none;
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75%;
    z-index: 999999;
    color: white;
}
.side_menu {
    display: flex;
    justify-content: space-evenly;
    padding: 50px 100px 50px 100px;
}
.side_menu ul{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    overflow: auto;
}
.side_menu ul li {
    list-style: none;
}
.side_menu h1{
    border-bottom: 1px solid white;
    margin: 20px 0px 20px 0px;
}

.gnb_bar{
	border-bottom: 1px solid #D2D2D2;
    background: #F1F1F1;
    width: 100%;
}

.gnb_wrap li{
	list-style: none;
}

.home_btn img{
	height: 14px;
	width: 16px;
}