<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/info.css">
    <title>부산영화체험박물관 | 체험존(4층)</title>
</head>
<body>
<div th:replace="/head :: head">

</div>
<div class="gnb_bar">
    <ul class="gnb_wrap">
        <a href="/"><li class="home_btn"><img src="/imgs/home_icon.png"></li></a>
        <li class="div_bar">|</li>
        <li class="category_1" onclick="drop_gnb(1)">전시<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_2" onclick="drop_gnb(2)">교육<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_3" onclick="drop_gnb(3)">박물관 활동지<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
    </ul>
</div>

<div class="gnb_bar_drop">
    <ul id="depth_1">
    	<a href="/viewing_guidance"><li>관람정보</li></a>
    	<a href="/experience_zone_3rdFloor"><li>전시</li></a>
    	<a href="/museum_newsList"><li>소통</li></a>
    	<a href="/greetings"><li>박물관소개</li></a>
    </ul>
    
    <ul id="depth_2">
    	<a href="/experience_zone_3rdFloor"><li>상설전시</li></a>
    	<a href="/exhibition_1stFloor"><li>기획전시</li></a>
    	<a href="/exhibition_actor"><li>특별전시</li></a>
    	<a href="/online_exhibition"><li>온라인 전시관</li></a>
    	<a href="/activity_document"><li>교육</li></a>
    </ul>
    
    <ul id="depth_3">
    	<a href="/activity_document"><li>박물관 활동지</li></a>
    	<a href="/museum_eduList"><li>지난교육</li></a>
    </ul>
</div>
<script>
	function drop_gnb(num){
		$('#depth_'+num).css('display', 'block');
		
		//외부영역 클릭시 드롭메뉴 닫기
		$(document).mouseup(function (e) {
			var movewrap = $('#depth_'+num);
			if (movewrap.has(e.target).length === 0) {
				movewrap.hide();
			}
		});
	}
</script>
<div class="wrap">
	<div class="contents_wrap">
		<div class="page_title">
			<div class="page_name_area"><h1>박물관 활동지</h1></div>
		</div>
	</div>
	<div class="info_area_docu">
		<div class="text_title">
			<div>박물관을 더 알차게 관람하는 방법!</div>
		</div>
		<div class="text_content">
			난이도별 총 5종으로 구성된 박물관 활동지는, 학습 목표를 고려하여 박물관 체험 시 활동지로 활용하거나, 체험 후 학습지로 활용할 수 있습니다.<br>
			아래 각 버튼을 눌러 다운로드하실 수 있습니다.
		</div>
	</div>
	<div class="download_area">
		<div class="text_title">
			<div>체험활동 보고서 / 학습지</div>
		</div>
		<div class="document_content">
			<div class="document_preview">
				<div class="docu_1">
					<img src="/imgs/document_1.png">
					<div class="docu_name">
						(유치원~초등저학년생용)<br>체험활동 보고서
					</div>
					<div class="download_docu_btn">
						<button id="download_btn" onclick="location.href='/download_activity_report'">다운로드</button>
					</div>
				</div>
				<div class="docu_2">
					<img src="/imgs/document_2.png">
					<div class="docu_name">
						(초등고학년~중학생용)<br>체험활동 심화 보고서
					</div>
					<div class="download_docu_btn">
						<button id="download_btn" onclick="location.href='/download_activity_report_deepened'">다운로드</button>
					</div>
				</div>
				<div class="docu_3">
					<img src="/imgs/document_3.png">
					<div class="docu_name">
						(초등고학년~중학생용)<br>체험활동 학습지
					</div>
					<div class="download_docu_btn">
						<button id="download_btn" onclick="location.href='/download_activity_worksheet'">다운로드</button>
					</div>
				</div>
				<div class="docu_4">
					<img src="/imgs/document_4.png">
					<div class="docu_name">
						(중・고등학생용)<br>체험활동 심화 학습지
					</div>
					<div class="download_docu_btn">
						<button id="download_btn" onclick="location.href='/download_activity_worksheet_deepened'">다운로드</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="download_area_bottom">
		<div class="text_title">
			<div>가로세로 영화 퍼즐</div>
		</div>
		<div class="puzzle_area">
			<img src="/imgs/document_5.png">
			<div class="docu_name">
				(초등저학년 이상)<br>가로세로 영화 퍼즐
			</div>
			<div class="download_docu_btn">
				<button id="download_btn" onclick="location.href='/download_puzzle'">다운로드</button>
			</div>
		</div>
	</div>
</div>
</body>
</html>