<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>부산영화체험박물관 | 관리자</title>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/common.js"></script>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="css/admin_boardDetail.css">
	
	<script>
		$(function(){
			$('#news_content').height( $('#news_content').prop('scrollHeight') );
		})
	</script>
</head>
<body>
	<div id="wrap">
 	<div th:replace="~{common/side :: sidebar_manage ('news')}"></div> 

	<div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>게시판 관리</span>
                    </div>
                </div>

			<div class="area">
				
 		<!-- 게시글(카드보기) div -->
		<div class="cardList_wrap">
			<div class="detail_wrap">
				<!-- 요약내용  -->
				<div class="detail_summary">
					<div class="summary_poster">
						<img id="poster" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/edu-folder/' +${edu.edu_poster}}" alt="poster_img">
					</div>
					<div class="summary_info">
						<div class="summary_title">
							<p>[(${edu.edu_title})]</p>
						</div>
						<div class="summary_content">
							<div class="content_left">
								<li>교육일시</li>
								<li>교육장소</li>
								<li>교육대상(인원)</li>
								<li>교육내용</li>
								<li>수강비용</li>
							</div>
							<div class="content_right">
								<li>[(${edu.edu_date})]</li>
								<li>[(${edu.edu_place})]</li>
								<li>[(${edu.edu_target})]</li>
								<li>[(${edu.edu_explain})]</li>
								<li>[(${edu.edu_price})]</li>
							</div>
						</div>
						<div class="summary_content_bottom">
							<div class="content_left">
								<li>접수기간</li>
								<li>접수방법</li>
							</div>
							<div class="content_right">
								<li>[(${edu.edu_deadline})]</li>
								<li>[(${edu.edu_method})]</li>
							</div>
						</div>
					</div>
				</div>
				<!-- 하단 상세내용(상단 요약내용과 width 다름) -->
				<div class="detail_content">
					<div class="bottom_wrap">
						<div class="content_area">
							<textarea name="event_content" id="news_content" spellcheck="false" disabled>[(${edu.edu_content})]</textarea>
						</div>
						<div class="poster_area">
							<img id="poster_big" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/edu-folder/' +${edu.edu_poster}}" alt="poster_img">
						</div>
						<div class="image_area" th:if="${eduFileList != ''}">
							<li th:each="img : ${eduFileList}" class="img_div">
								<img id="img_file" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/edu-folder/' +${img.file_name}}" alt="img_file">
							</li>
						</div>
						<div class="video_area" th:if="${edu.edu_link1 != '' || edu.edu_link2 != ''}">
							<div th:if="${edu.edu_link1 != ''}" id="video">[(${edu.edu_link1})]</div>
							<div th:if="${edu.edu_link2 != ''}" id="video">[(${edu.edu_link2})]</div>
						</div>
					</div>
				</div>
				<div class="button_area">
					<input type="button" class="list_btn" value="목록" onclick="location.href='admin_eduList'">
					<button type="button" class="update_btn" th:onclick="|location.href='@{admin_edu_update(id=${edu.id})}'|">수정</button> 
				</div>
			</div>
		</div>

			</div>
		</div>
	</div>
</div>
</body>
</html>