<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산영화체험박물관 | 관리자</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/css/admin_boardInsert.css">
    <script src="/js/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<script src="js/board_register.js"></script>
</head>
<body>
    <div id="wrap">
        <div th:replace="~{common/side :: sidebar_manage ('news')}"></div>

        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>박물관 소식</span>
                    </div>
                </div>

                <div class="area">
                	<form name="newsAddForm" action="/newsAdd" enctype="multipart/form-data" method="post" onsubmit="return false">
                    <div class="area1">
                        <span>제목</span>
                        <input type="text" name="news_title" class="required" placeholder="제목을 입력해주세요." th:value="${news.news_title}" >
                    </div>
                    <div class="area2">
                        <span>일시</span>
                        <input type="text" name="news_date" class="required" maxlength="45" th:value="${news.news_date}">
                    </div>
                    <div class="area2">
                        <span>장소</span>
                        <input type="text" name="news_place" class="required" maxlength="45" th:value="${news.news_place}">
                    </div>
                    <div class="area2">
                        <span>관람방법</span>
                        <input type="text" name="news_method" class="required" maxlength="45" th:value="${news.news_method}">
                    </div>
                    <div class="area2">
                        <span>문의</span>
                        <input type="text" name="news_contact" class="required" maxlength="45" th:value="${news.news_contact}">
                    </div>
                    <div class="area2">
						<span>영화상영여부</span>
						<input type="hidden" name="screen_value" th:value="${news.news_screeningCheck}">
						<div class="screening_area">
							<input type="radio" name="news_screeningCheck" value="1" id="radio_1">
							<label for="radio_1"></label>
							<div>O</div>
						</div>
						<div class="screening_area">
							<input type="radio" name="news_screeningCheck" value="0" id="radio_2">
							<label for="radio_2"></label>
							<div>X</div>
						</div>
					</div>
                    <div class="area3">
                        <span>동영상 링크</span>
                        <input type="text" name="news_link1" th:value="${news.news_link1}">
                        <input type="text" name="news_link2" th:value="${news.news_link2}">
                    </div>
                    <div class="area2">
                        <span>내용</span>
                        <textarea placeholder="1000자 이내로 입력" name="news_content" maxlength="1000" th:value="${news.news_content}" th:text="${news.news_content}" onkeydown="resize(15,100,this)" ></textarea>
                    </div>
                    <div class="area3">
                        <span>대표이미지첨부</span> <!-- vo에 포함시키지 않고 따로 controller에 전송 -->
                        <div class="file_area">
                            <div id="file_names_thumbnail">
                                <!-- 파일 이름 -->
                                    <div class='file_con'>
                                        <div class="filename" th:text="${news.news_poster}" th:if="${news.news_poster != ''}"></div>
                                        <img src="/imgs/close_btn_black.svg" th:data-fileName="${news.news_poster}"
                                        th:onclick="deleteFile_for_update_thumbnail(this.getAttribute('data-fileName'))">
                                    </div>
                            </div>
                            <label for="thumbnail" id="file_upload" class="thumbnail_label">  </label>
                        </div>
                        <input type="file" id="thumbnail" multiple="multiple" name="thumbnail_file"/>
                        <input type="text" id="input_thumbnail" name="news_poster">
                        <!-- ... -->
                    </div>
                    <div class="area3">
                        <span>이미지/파일첨부<p>(최대 5개)</p></span>
                        <div class="file_area">
                            <div id="file_names">
                                <!-- 파일 이름 -->
                                <div th:each="FileList : ${newsFileList}"  th:id="'fileTr_' + ${FileListStat.index}">
                                    <div class='file_con'>
                                        <div class="filename" th:text="${FileList.file_name}"></div>
                                        <img src="/imgs/close_btn_black.svg" th:data-fileName="${FileList.file_name}" th:data-index="${FileListStat.index}" 
                                        th:onclick="deleteFile_for_update(this.getAttribute('data-index'),this.getAttribute('data-fileName'))">
                                    </div>
                                </div>
                            </div>
                            <label for="input_file" id="file_upload">  </label>
                        </div>
                        <input type="file" id="input_file" multiple="multiple" name="file" hidden />
                        <!-- ... -->
                    </div>
                    <div class="btn_wrap">
                        <button type="button" onclick="location.href='admin_newsList'">취소</button>
                        <button type="button" id="update_bt">저장</button>
                    </div>

                    <!-- update -->
                        <input type="text" name="id" hidden th:value="${news.id}">
                        
                    </form>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        $(function(){
                            let newsFileList = /*[[${newsFileList}]]*/

                            fileIndex=newsFileList.length;
                            
                            if($('#file_names').children().length >=maxFileNum){
                                $('#input_file').attr("disabled","disabled");
                                $('.area3 label').css({'background-color':'#eee', 'cursor':'unset'});
                            }

                            $('textarea').height((15 + $('textarea').prop('scrollHeight')));
                        })
                        /*]]>*/
                    </script>
                </div>

			<script>
				var screen_value = $('input[name=screen_value]').val();
				if(screen_value == 1){
					$('#radio_1').prop('checked',true);
				}else if(screen_value == 0){
					$('#radio_2').prop('checked',true);
				}
			</script>
            </div>
        </div>
    </div>
</body>
</html>