<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산영화체험박물관 | 관리자</title>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.12/jsrender.min.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/css/admin_resSetting.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>
<body>
    <div id="wrap">
        <div th:replace="~{common/side :: sidebar_manage ('setting')}"></div>
        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>운영관리</span>
                    </div>
                </div>

				<div th:each="closed : ${closed_list}" class="hidden">	<!-- 휴관일 가져오기-->
					<input type="text" th:value="${closed.closed_date}" name="closed_date" >
				</div>
                
                <div class="area">
                <div class="calendar_area">
				<div class="sec_cal">
					<div class="cal_nav">
				    	<a href="javascript:;" class="nav-btn go-prev">prev</a>
				    	<div class="year-month"></div>
				    	<a href="javascript:;" class="nav-btn go-next">next</a>
				    </div>
				    <div class="cal_wrap">
					    <div class="days">
					      	<div class="day">일</div>
					    	<div class="day">월</div>
					      	<div class="day">화</div>
					      	<div class="day">수</div>
					      	<div class="day">목</div>
					      	<div class="day">금</div>
					      	<div class="day">토</div>
					    </div>
				    	<div class="dates"></div>
				  	</div>
				</div>
				<div class="setting_area">
					<div class="setting_wrap">
						<div><p>운영설정</p></div>
						<div class="select_date">
							<input type="text" name="setting_date">
						</div>
						<div class="setting_closed">
							<p>휴관일 지정</p>
							<input type="checkbox" id="toggle" hidden> 
							<label for="toggle" class="toggleSwitch">
							  <span class="toggleButton"></span>
							</label>
						</div>
						<div class="setting_timeNnum">
							<p>회차별 설정</p>
							<div class="time_limited">
								<select name="select_time" class="select_time" onchange="changeSelect();" id="selectbox">
									<option value="" selected disabled hidden>선택</option>
									<option value="1">1회차</option>
									<option value="2">2회차</option>
									<option value="3">3회차</option>
									<option value="4">4회차</option>
									<option value="5">5회차</option>
									<option value="6">6회차</option>
									<option value="7">7회차</option>
									<option value="8">8회차</option>
									<option value="9">9회차</option>
									<option value="10">10회차</option>
									<option value="11">11회차</option>
									<option value="12">12회차</option>
									<option value="13">13회차</option>
									<option value="14">14회차</option>
								</select>
								<input type="text" name="setting_time" class="time_input" placeholder="--:--">
								<input type="text" name="limited_num" class="num_input" placeholder="인원수 입력">
								<button class="able_btn" onclick="able_time();"><img src="/imgs/able_time.png">활성</button>
								<button class="unable_btn" onclick="unable_time();"><img src="/imgs/unable_time.png">비활성</button>
								<input type="hidden" name="time_status" id="time_status" value="1">
							</div>
							<div class="button_area">
								<input type="button" value="설정완료" onclick="setting_ok();" class="setting_btn">
							</div>
						</div>
					</div>
				</div>
				</div>
                                    
                </div>
            </div>
        </div>
<script>
    $(document).ready(function() {
        calendarInit();
    });
    /*
        달력 렌더링 할 때 필요한 정보 목록 

        현재 월(초기값 : 현재 시간)
        금월 마지막일 날짜와 요일
        전월 마지막일 날짜와 요일
    */

    function calendarInit() {

        // 날짜 정보 가져오기
        var date = new Date(); // 현재 날짜(로컬 기준) 가져오기
        var utc = date.getTime() + (date.getTimezoneOffset() * 60 * 1000); // uct 표준시 도출
        var kstGap = 9 * 60 * 60 * 1000; // 한국 kst 기준시간 더하기
        var today = new Date(utc + kstGap); // 한국 시간으로 date 객체 만들기(오늘)
      
        var thisMonth = new Date(today.getFullYear(), today.getMonth(), today.getDate());
        // 달력에서 표기하는 날짜 객체
      
        
        var currentYear = thisMonth.getFullYear(); // 달력에서 표기하는 연
        var currentMonth = thisMonth.getMonth(); // 달력에서 표기하는 월
        var currentDate = thisMonth.getDate(); // 달력에서 표기하는 일

        // kst 기준 현재시간
        // console.log(thisMonth);

        // 캘린더 렌더링
        renderCalender(thisMonth);

        function renderCalender(thisMonth) {

            // 렌더링을 위한 데이터 정리
            currentYear = thisMonth.getFullYear();
            currentMonth = thisMonth.getMonth();
            currentDate = thisMonth.getDate();

            // 이전 달의 마지막 날 날짜와 요일 구하기
            var startDay = new Date(currentYear, currentMonth, 0);
            var prevDate = startDay.getDate();
            var prevDay = startDay.getDay();

            // 이번 달의 마지막날 날짜와 요일 구하기
            var endDay = new Date(currentYear, currentMonth + 1, 0);
            var nextDate = endDay.getDate();
            var nextDay = endDay.getDay();

            console.log(prevDate, prevDay, nextDate, nextDay);

            // 현재 월 표기
            $('.year-month').text(currentYear + '년 ' + (currentMonth + 1) + '월');

            // 렌더링 html 요소 생성
            calendar = document.querySelector('.dates')
            calendar.innerHTML = '';
            
            // 지난달
            for (var i = prevDate - prevDay; i <= prevDate; i++) {
                calendar.innerHTML = calendar.innerHTML + '<div class="day prev disable"><div class="date_left">' + i + '</div></div>'
            }
            
	        // 이번달
	        for (var i = 1; i <= nextDate; i++) {
		        calendar.innerHTML = calendar.innerHTML + '<div class="day current" onclick="calendarClick(' + i + ')"><div id="choice_'+i+'"><div class="date_left">' + i + '</div><div class="closed_text" id="closed_'+i+'"></div></div></div>'
	        }
				
            // 다음달
            for (var i = 1; i <= (7 - nextDay == 7 ? 0 : 7 - nextDay-1); i++) {
                calendar.innerHTML = calendar.innerHTML + '<div class="day next disable"><div class="date_left">' + i + '</div></div>'
            }

            // 오늘 날짜 표기
            if (today.getMonth() == currentMonth) {
                todayDate = today.getDate();
                var currentMonthDate = document.querySelectorAll('.dates .current');
                currentMonthDate[todayDate -1].classList.add('today');
            }
            
            closed_set();
            
        }

        // 이전달로 이동
        $('.go-prev').on('click', function() {
            thisMonth = new Date(currentYear, currentMonth - 1, 1);
            renderCalender(thisMonth);
        });

        // 다음달로 이동
        $('.go-next').on('click', function() {
            thisMonth = new Date(currentYear, currentMonth + 1, 1);
            renderCalender(thisMonth); 
        });

		function closed_set(){
			
	        currentYear = thisMonth.getFullYear();
	        currentMonth = thisMonth.getMonth();
	        currentDate = thisMonth.getDate();
	        
	        //var closed_date = $('input[name="closed_date"]').val();
	        var date_arrayLength = $('input[name="closed_date"]').length;
	        var date_array = new Array(date_arrayLength);
	        // 이번 달의 마지막날 날짜와 요일 구하기
	        var endDay = new Date(currentYear, currentMonth + 1, 0);
	        var nextDate = endDay.getDate();
	        
	        for(i=0; i<date_arrayLength; i++){ //휴관일 배열 for문 돌리면서 표시
				date_array[i] = $('input[name="closed_date"]').eq(i).val();
				
	        var closed_month = date_array[i].substr(0,7);
	        var closed_day = date_array[i].substr(8);
	        var this_month = currentMonth;
			debugger;
	        
	        if((this_month+1) < 10){
				var current_month = currentYear + ".0" + (this_month+1);
			}else{
		        var current_month = currentYear + "." + (this_month+1);
			}
	            	
	        if(closed_month == current_month){ //해당 월에 휴관일 있으면 표시
	        	for (var j = 1; j <= nextDate; j++) {
		        	if(closed_day == j){ //휴관일날짜에 해당하는 div에 text
			        	$("div[id='closed_"+j+"']").text("휴관일");
					}
		        }
			}
			}
		}
    }
    
    function calendarClick(choiceDay) {
    	console.log(choiceDay);
    	$('div').not('div [id="choice_'+choiceDay+'"]').removeClass('choiceDay');
    	$('div [id="choice_'+choiceDay+'"]').attr('class','choiceDay');
    	
    	var res_day = choiceDay;
    	var res_choiceDate = $('.year-month').text();
    	var res_year = res_choiceDate.substr(0,4);
    	var res_month = res_choiceDate.substr(6,7);//'8월' 한 덩어리로 가져옴
    	
    	var month_choice = res_month.split('월');//'월' 문자 기준으로 잘라서
    	res_month = month_choice[0];//변수에 담아
    	
    	if(res_day < 10){
    		res_day = "0"+res_day;
    	}
    	if(res_month.length < 2){ //db에 날짜 '2023.08.01'형식으로 담기 위한 포맷
    		res_month = "0"+res_month;
    	}
    	
    	var res_date = res_year+'.'+res_month + '.' + res_day;
    	var res_date2 = res_year+'-'+res_month + '-' + res_day;
    	
    	var dayOfWeek = new Date(res_date2).getDay();
    	var dayOfWeek_str;
    	
    	if(dayOfWeek == 0){dayOfWeek_str = '일';}
    	else if(dayOfWeek == 1){dayOfWeek_str = '월';}
    	else if(dayOfWeek == 2){dayOfWeek_str = '화';}
    	else if(dayOfWeek == 3){dayOfWeek_str = '수';}
    	else if(dayOfWeek == 4){dayOfWeek_str = '목';}
    	else if(dayOfWeek == 5){dayOfWeek_str = '금';}
    	else if(dayOfWeek == 6){dayOfWeek_str = '토';}
    	
    	// 날짜 선택 전에는 하단 설정부분 hide
        if($('.setting_area').css("display") == "none"){
        	$('.setting_area').show();
        	$('.able_btn').hide();
        	$('.unable_btn').hide();
        };
        $('input[name=setting_date]').val(res_date+" ("+dayOfWeek_str+")");
        
        var closed_date = $('input[name="closed_date"]').val();
		var toggleBtn = document.getElementById('toggle');
		
        if(closed_date == res_date){
			$("input:checkbox[id='toggle']").prop("checked", true); 	
            $('#selectbox').attr('disabled',true);
		}else{
			$("input:checkbox[id='toggle']").prop("checked", false); 	
            $('#selectbox').attr('disabled',false);
		}
        
    }
    
    function changeSelect() {
    	$('.time_input').show();
    	$('.num_input').show();
    	$('.able_btn').show();
    }
    
    function able_time(){ //활성버튼 누르면 비활성버튼으로 변경, status 0:비활성
    	$('.able_btn').hide();
    	$('.unable_btn').show();
    	$('#time_status').val(0);
    }
    
    function unable_time(){ //비활성버튼 누르면 활성버튼으로 변경, status 1:활성
    	$('.able_btn').show();
    	$('.unable_btn').hide();
    	$('#time_status').val(1);
    }
    
    function setting_ok() {
    	var date_str = $('input[name=setting_date]').val();
    	var setting_date = date_str.substr(0,10);
    	var closed_status;
    	
    	var timeSelect = document.getElementById("selectbox");
    	var time_num = timeSelect.options[timeSelect.selectedIndex].value; //회차num
    	var setting_time = $('input[name=setting_time]').val(); //회차시간
    	var limited_num = $('input[name=limited_num]').val(); //회차 제한인원
    	var time_status = $('input[name=time_status]').val(); //활성화여부
    	
    	if ($("input:checkbox[id='toggle']").is(":checked") == true){
    		closed_status = 1;
    		time_num = 0;
    		setting_time = 0;
    		limited_num = 0;
    	}else{
    		closed_status = 0;
    		
			if(time_num == ""){
				time_num = 0;
	    		setting_time = 0;
	    		limited_num = 0;
	    		time_status = 2; //회차정보 변경X
			}
    	}
    	debugger;
    	
    	$.ajax({
			url : "/reservation_setTime",
			type : 'post',
			data : {
					setting_date:setting_date,
					closed_status:closed_status,
					time_num:time_num,
					setting_time:setting_time,
					limited_num:limited_num,
					time_status:time_status
					},
			success : function (result) {
                window.location.href= result;
            }
		});
    }
    
    $('#toggle').on('click', function(){
        var toggleBtn = document.getElementById('toggle');
        
        if( toggleBtn.checked ){
            $('#selectbox').attr('disabled',true)
        } else{
            $('#selectbox').removeAttr('disabled')
        }
    })
    
</script>
</body>
</html>