<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산영화체험박물관 | 관리자</title>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/css/admin_boardInsert.css">
    <script src="/js/common.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	
	<script src="js/partner_register.js"></script>
</head>
<body>
    <div id="wrap">
        <div th:replace="~{common/side :: sidebar_manage ('news')}"></div>

        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>게시판 관리</span>
                    </div>
                </div>

                <div class="area">
                	<form name="partnerAddForm" action="/partnerAdd" enctype="multipart/form-data" method="post" onsubmit="return false">
                    <div class="area1">
                        <span>제목</span>
                        <input type="text" name="partner_title" class="required" placeholder="제목을 입력해주세요." th:value="${partner.partner_title}" >
                    </div>
                    <div class="area2">
                        <span>제휴기간</span>
                        <input type="text" name="partner_date" class="required" maxlength="45" th:value="${partner.partner_date}">
                    </div>
                    <div class="area2">
                        <span>제휴할인</span>
                        <input type="text" name="partner_sale" class="required" maxlength="45" th:value="${partner.partner_sale}">
                    </div>
                    <div class="area2">
                        <span>내용</span>
                        <textarea placeholder="1000자 이내로 입력" name="partner_content" maxlength="1000" th:value="${partner.partner_content}" th:text="${partner.partner_content}" onkeydown="resize(15,100,this)" ></textarea>
                    </div>
                    <div class="area3">
                        <span>대표이미지첨부</span> <!-- vo에 포함시키지 않고 따로 controller에 전송 -->
                        <div class="file_area">
                            <div id="file_names_thumbnail">
                                <!-- 파일 이름 -->
                                    <div class='file_con'>
                                        <div class="filename" th:text="${partner.partner_poster}" th:if="${partner.partner_poster != ''}"></div>
                                        <img src="/imgs/close_btn_black.svg" th:data-fileName="${partner.partner_poster}"
                                        th:onclick="deleteFile_for_update_thumbnail(this.getAttribute('data-fileName'))">
                                    </div>
                            </div>
                            <label for="thumbnail" id="file_upload" class="thumbnail_label"><img src="/imgs/board_upload_icon.svg"></label>
                        </div>
                        <input type="file" id="thumbnail" multiple="multiple" name="thumbnail_file" hidden/>
                        <input type="hidden" id="input_thumbnail" name="news_poster">
                        <!-- ... -->
                    </div>
                    <div class="area3">
                        <span>이미지첨부<p>(최대 5개)</p></span>
                        <div class="file_area">
                            <div id="file_names">
                                <!-- 파일 이름 -->
                                <div th:each="FileList : ${partnerFileList}"  th:id="'fileTr_' + ${FileListStat.index}">
                                    <div class='file_con'>
                                        <div class="filename" th:text="${FileList.file_name}"></div>
                                        <img src="/imgs/close_btn_black.svg" th:data-fileName="${FileList.file_name}" th:data-index="${FileListStat.index}" 
                                        th:onclick="deleteFile_for_update(this.getAttribute('data-index'),this.getAttribute('data-fileName'))">
                                    </div>
                                </div>
                            </div>
                            <label for="input_file" id="file_upload" class="files_label"><img src="/imgs/board_upload_icon.svg"></label>
                        </div>
                        <input type="file" id="input_file" multiple="multiple" name="file" hidden />
                        <!-- ... -->
                    </div>
                    <div class="btn_wrap">
                        <button type="button" id="cancel_btn" onclick="location.href='admin_partnerList'">취소</button>
                        <button type="button" id="update_btn">저장</button>
                    </div>

                    <!-- update -->
                        <input type="text" name="id" hidden th:value="${partner.id}">
                        
                    </form>
                    <script th:inline="javascript">
                        /*<![CDATA[*/
                        $(function(){
                            let partnerFileList = /*[[${partnerFileList}]]*/

                            fileIndex=partnerFileList.length;
                            
                            if($('#file_names').children().length >=5){
                                $('#input_file').attr("disabled","disabled");
                                $('.area3 .files_label').css({'background-color':'#eee', 'cursor':'unset'});
                            }
                            
                            $('textarea').height((15 + $('textarea').prop('scrollHeight')));
                        })
                        /*]]>*/
                    </script>
                </div>
            </div>
        </div>
    </div>
</body>
</html>