<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산영화체험박물관 | 관리자</title>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.12/jsrender.min.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/css/admin_boardDetail.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="js/common.js"></script>
    
    <script src="js/answer_register.js"></script>
    <script>
		$(function(){
			$('#question_content').height( $('#question_content').prop('scrollHeight') );
			$('#answer_content').height( $('#answer_content').prop('scrollHeight') );
		})
	</script>
</head>
<body>
    <div id="wrap">
        <div th:replace="~{common/side :: sidebar_manage ('qna')}"></div>
        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>Q&amp;A 관리</span>
                    </div>
                </div>

                <div class="area">

                    <div class="question_area">
						<div class="question_title_area">
							<div class="question_detail_title">
								<div class="qna_division_q">Q</div>
								[(${question.question_title})]
							</div>
							<div class="question_small_text">
								<p>[(${question.question_writer})]</p>
								<p id="question_div_bar">|</p>
								<p>[(${question.create_date})]</p>
							</div>
						</div>
						<div class="question_content_area">
							<textarea name="question_content" id="question_content" spellcheck="false" disabled>[(${question.question_content})]</textarea>
						</div>
					</div>
                    <div class="question_btn_area">
                    	<div class="btn_left">
                    		<input type="button" value="삭제" id="delete_btn" th:onclick="'question_delete_one('+${question.id}+')'">
                    	</div>
                    	<div class="btn_right">
                    		<input type="button" value="목록" id="list_btn" onclick="location.href='/admin_qnaList'">
                    		<input type="button" value="답변" id="answer_btn" th:if="${answer == null}">
                    	</div>
                    </div>
                    
					<div class="answer_area" th:if="${answer != null}">
						<div class="answer_title_area">
							<div class="answer_detail_title">
								<div class="qna_division_a">A</div>
								[(${answer.answer_title})]
							</div>
							<div class="answer_small_text">
								<p>관리자</p>
								<p id="answer_div_bar">|</p>
								<p>[(${answer.create_date})]</p>
							</div>
						</div>
						<div class="answer_content_area">
							<textarea name="answer_content" id="answer_content" spellcheck="false" disabled>[(${answer.answer_content})]</textarea>
						</div>
						<div class="answer_modify_btn_area">
							<button type="button" id="update_btn_answer" onclick="modify_area();">수정</button>
							<button type="button" class="delete_btn_answer" th:onclick="'answer_delete('+${answer.id}+')'">삭제</button>
						</div>
					</div>
					
					<div id="answer_register_area">
						<form name="answerAddForm" action="/answerAdd" enctype="multipart/form-data"  method="post" onsubmit="return false">
						<input type="hidden" th:value="${question.id}" name="question_id">
						<div id="answer_title_register">
							<p>제목</p>
							<input type="text" name="answer_title" class="required">
						</div>
						<div id="answer_content_register">
							<p>내용</p>
							<textarea placeholder="1000자 이내로 입력" name="answer_content" class="required" maxlength="1000" onkeydown="resize(15,100,this)" ></textarea>
						</div>
						<div id="answer_btn_area">
							<button type="button" id="answer_submit_btn">답변등록</button>
						</div>
						</form>
					</div>
					
					<div id="answer_modify_area" th:if="${answer != null}">
						<form name="answerUpdateForm" action="/answerUpdate" enctype="multipart/form-data"  method="post" onsubmit="return false">
						<input type="hidden" th:value="${question.id}" name="question_id">
						<div id="answer_title_register">
							<p>제목</p>
							<input type="text" name="answer_title" class="required_update" th:value="${answer.answer_title}">
						</div>
						<div id="answer_content_register">
							<p>내용</p>
							<textarea placeholder="1000자 이내로 입력" name="answer_content" class="required_update" maxlength="1000" th:value="${answer.answer_content}" th:text="${answer.answer_content}" onkeydown="resize(15,100,this)" ></textarea>
						</div>
						<div id="answer_btn_area">
							<button type="button" id="answer_update_btn">답변수정</button>
						</div>
						</form>
					</div>

                </div>
            </div>
        </div>
<script>
document.getElementById("answer_btn").onclick = function() {
    document.getElementById("answer_register_area").style.display="block";
}

function modify_area() {
	$('.answer_area').css('display', 'none');
	$('#answer_modify_area').css('display', 'block');
}

function question_delete_one(id) {
	if (confirm("삭제하시겠습니까?") == true){
		
		$.ajax({
			url : 'question_delete_one',
			type : 'post',
			data : {id:id},
			success : function(data) {
					alert('삭제되었습니다.');
					location.href = 'admin_qnaList';
			},
			error : function() {
				alert("에러입니다");
			}
		});
	}else{
		return false;
	}
};

function answer_delete(id) {
	var question_id = $('input[name=question_id]').val();
	if (confirm("삭제하시겠습니까?") == true){
		
		$.ajax({
			url : 'answer_delete',
			type : 'post',
			data : {id:id},
			success : function(data) {
					alert('삭제되었습니다.');
					location.href = 'admin_qnaDetail?id='+question_id;
			},
			error : function() {
				alert("에러입니다");
			}
		});
	}else{
		return false;
	}
};
</script>
</body>
</html>