<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>부산영화체험박물관 | 관리자</title>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/common.js"></script>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/newsDetail.css">
	<script>
// 		$(function(){
// 			$('#event_content').height( $('#event_content').prop('scrollHeight') );
// 			$('.position_pay').each(function() {
// 				costText(this);
// 			});
// 		})
	</script>
</head>
<body>
	<div id="wrap">
 	<div th:replace="~{common/side :: sidebar_manage ('news')}"></div> 

	<div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>박물관 소식</span>
                    </div>
                </div>

			<div class="area">
				
 				<span th:fragment="event_detail"> 
 					<div class="event_table event_table_L"> 
 						<p class="con_title">행사 정보</p> 
 						<div class="event_con event_info"> 
 							<div class="event_line"> 
 								<div class="li_title">행사명:</div> 
 								<div id="event_title" th:text="${news.news_title}"></div> 
 							</div> 
 							<div class="event_line"> 
 								<div>[(${news.create_date})]</div> 
 							</div> 
 							<div class="event_line"> 
 								<div class="li_title">첨부파일:</div> 
 								<div class="event_file"> 
 									<div th:each="FileList : ${newsFileList}" > 
 										<a th:href="@{news_download(filename=${FileList.file_name})}"> 
 											<div><img src="/imgs/download_icon.png" alt="event_download"></div> 
 											<div class="file_name" th:text="${FileList.file_name}"></div> 
 										</a> 
 									</div> 
 								</div> 
 							</div> 
 						</div> 
 					</div> 
 					<div class="event_table event_table_R"> 
 						<p class="con_title">행사 상세내용</p>
 						<div class="youtube" th:if="${news.news_link1 != null}">
							[(${news.news_link1})]
 						</div>
 						<div class="youtube" th:if="${news.news_link2 != null}">
							[(${news.news_link2})]
 						</div>
 						<div class="event_con event_content"> 
 							<textarea name="event_content" id="event_content" spellcheck="false" disabled>
								 	[(${news.news_content})]
							</textarea> 
 						</div>
 						<div class="poster_area">
							  <img id="preview" class="in_profile" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/news-folder/' +${news.news_poster}}" alt="poster_img">
						</div>
 					</div> 
 				</span> 

				<div class="btn_wrap">
 					<button type="button" onclick="location.href='admin_newsList'">목록으로</button> 
 					<button type="button" th:onclick="|location.href='@{admin_news_update(id=${news.id})}'|">수정하기</button> 
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>