<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>부산영화체험박물관 | 관리자</title>
	<script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/common.js"></script>
	<link rel="stylesheet" href="/css/reset.css">
	<link rel="stylesheet" href="/css/popupDetail.css">
</head>
<body>
	<div id="wrap">
 	<div th:replace="~{common/side :: sidebar_manage ('popup')}"></div> 

	<div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>팝업설정</span>
                    </div>
                </div>

			<div class="area">
				
 				<span th:fragment="event_detail"> 
 						<div class="event_con event_info"> 
 							<div class="event_line"> 
 								<div class="li_title">제목</div> 
 								<div id="event_title" th:text="${popup.popup_title}"></div> 
 							</div>
 							<div class="event_line"> 
 								<div class="li_title">게시기간</div> 
 								<div id="event_title">
									[(${popup.start_date})] ~ [(${popup.end_date})]	 
								</div> 
 							</div>  
 						</div> 
 					<div class="link_area">
 						<p class="con_title">팝업링크</p>
 						<div class="youtube" th:if="${popup.click_link != ''}">
							[(${popup.click_link})]
 						</div>
 						<div class="youtube" th:if="${popup.click_link == ''}">
							-
 						</div>
 					</div>
 					<div class="img_area"> 
 						<p class="con_title">팝업 이미지</p>
 						<div class="poster_area">
							  <img id="preview" class="in_profile" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/popup-folder/' +${popup.file_name}}" alt="poster_img">
						</div>
 					</div>
 				</span> 

				<div class="btn_wrap">
 					<button type="button" onclick="location.href='admin_popupList'" id="list_btn">목록</button> 
 					<button type="button" th:onclick="|location.href='@{admin_popup_update(id=${popup.id})}'|" id="update_btn">수정</button> 
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>