<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>부산영화체험박물관 | 관리자</title>
    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.12/jsrender.min.js"></script>
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="/css/admin_resList.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
</head>
<body>
    <div id="wrap">
        <div th:replace="~{common/side :: sidebar_manage ('news')}"></div>
        <!-- main -->
        <div class="content">
            <div class="container">
                <div class="page-header">
                    <div class="page-title">
                        <span>박물관 소식</span>
                    </div>
                </div>

                <div class="area">

                    <ul class="list">
                        <ol id="top_ol">
							<div class="check_area"><li><input type="checkbox" class="all_check"></li></div>
                            <div class="num_area"><li>NO</li></div>
                            <div class="newsTitle_area"><li>제목</li></div>
                            <div class="newsDate_area"><li>등록일</li></div>
                        </ol>
						<ol th:each="news : ${news_list}" class="list_ol">
							<div class="check_area">
								<li><input type="checkbox" class="'check_'+${new.id}"></li>
							</div>
							
							<div class="num_area">
								<li>[[${news.id}]]</li>
							</div>
							
							<div class="newsTitle_area">
								<li>[[${news.news_title}]]</li>
							</div>
							
							<div class="newsDate_area">
								<li>[[${news.create_date}]]</li>
							</div>
							
						</ol>
                    </ul>
                    
                    <div class="newsbtn_area">
                    	<div class="btn_left">
                    			<input type="button" value="삭제" id="delete_btn">
                    			<input type="button" value="수정" id="modify_btn">
                    	</div>
                    	<div class="btn_right">
                    			<input type="button" value="등록" id="insert_btn" onclick="location.href='/admin_newsInsert'">
                    	</div>
                    </div>
                                    
                    <!-- 페이징 -->
                    
                    <!-- 검색 안했을 때  -->
<!--                     <div class="null">  -->
<!--                         <ul class="pagewrap"> -->
<!--                             <li> -->
<!--                             	<a class="page-link page_icon" th:href="@{admin_reservationList?page=1}"><img src="imgs/page_start_btn.svg"></a> -->
<!--                             </li> -->
<!--                             <li class="icon_right"> -->
<!--                             	<a class="page-link page_icon" th:if="${nowpage == 1}" th:href="@{admin_reservationList?page={page} (page = ${nowpage})}"><img src="imgs/page_back_btn.svg"></a> -->
<!--                             	<a class="page-link page_icon" th:if="${nowpage != 1}" th:href="@{admin_reservationList?page={page} (page = ${nowpage}-1)}"><img src="imgs/page_back_btn.svg"></a> -->
<!--                             </li> -->
<!--                              <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"> -->
<!-- 							    <li class="page-item"  -->
<!-- 							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}" -->
<!-- 							    		th:each="pageButton : ${#numbers.sequence(start, end)}"> -->
<!-- 							    		<a class="page-link"  th:id="'page_num'+${pageButton}" th:href="@{admin_reservationList?page={page} (page = ${pageButton})}" th:text=${pageButton}></a> -->
<!-- 							    </li> -->
<!-- 						    </th:block> -->
<!--                             <li class="icon_left"> -->
<!--                             	<a class="page-link page_icon" th:if="${nowpage == pagination.totalPageCnt}" th:href="@{admin_reservationList?page={page} (page = ${nowpage})}"><img src="imgs/page_next_btn.svg"></a> -->
<!--                             	<a class="page-link page_icon" th:if="${nowpage != pagination.totalPageCnt}" th:href="@{admin_reservationList?page={page} (page = ${nowpage}+1)}"><img src="imgs/page_next_btn.svg"></a> -->
<!--                             </li> -->
<!--                             <li> -->
<!--                             	<a class="page-link page_icon" th:href="@{admin_reservationList?page={page} (page = ${pagination.totalPageCnt})}"><img src="imgs/page_end_btn.svg"></a> -->
<!--                             </li> -->
<!--                         </ul> -->
<!--                     </div> -->
                    
                    <script th:inline="javascript">
// 						$('#page_num'+[[${nowpage}]]).addClass("thisPage");
//                     	var nowpage = /*[[${nowpage}]]*/
                    </script>
                </div>
            </div>
        </div>

</body>
</html>