<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/info.css">
    <title>부산영화체험박물관 | 체험존(3층)</title>
</head>
<body>
<div th:replace="/head :: head">

</div>
<div class="gnb_bar">
    <ul class="gnb_wrap">
        <a href="/"><li class="home_btn"><img src="/imgs/home_icon.png"></li></a>
        <li class="div_bar">|</li>
        <li class="category_1" onclick="drop_gnb(1)">전시<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_2" onclick="drop_gnb(2)">상설전시<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_3" onclick="drop_gnb(3)">체험존(3층)<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
    </ul>
</div>

<div class="gnb_bar_drop">
    <ul id="depth_1">
    	<a href="/viewing_guidance"><li>관람정보</li></a>
    	<a href="/experience_zone_3rdFloor"><li>전시</li></a>
    	<a href="/museum_newsList"><li>소통</li></a>
    	<a href="/greetings"><li>박물관소개</li></a>
    </ul>
    
    <ul id="depth_2">
    	<a href="/experience_zone_3rdFloor"><li>상설전시</li></a>
    	<a href="/exhibition_1stFloor"><li>기획전시</li></a>
    	<a href="/exhibition_actor"><li>특별전시</li></a>
    	<a href="/online_exhibition"><li>온라인전시관</li></a>
    	<a href="/activity_document"><li>교육</li></a>
    </ul>
    
    <ul id="depth_3">
    	<a href="/experience_zone_3rdFloor"><li>체험존(3층)</li></a>
    	<a href="/experience_zone_4thFloor"><li>체험존(4층)</li></a>
    	<a href="/trickEye_2ndFloor"><li>트릭아이뮤지엄(2층)</li></a>
    </ul>
</div>
<script>
	function drop_gnb(num){
		$('#depth_'+num).css('display', 'block');
		
		//외부영역 클릭시 드롭메뉴 닫기
		$(document).mouseup(function (e) {
			var movewrap = $('#depth_'+num);
			if (movewrap.has(e.target).length === 0) {
				movewrap.hide();
			}
		});
	}
</script>
<div class="wrap">
	<div class="contents_wrap">
		<div class="page_title">
			<div class="page_name_area"><h1>체험존(3층)</h1></div>
		</div>
	</div>
	<div class="exhb_info_area">
		<div class="text_content_exhb">
			부산영화체험박물관의 전시는 한 편의 재미있는 영화탐험스토리를 따라가면서 영화의 역사와 원리, 영화의 장르 및 제작방법, 영화축제 등의 영화 콘텐츠를 쉽고 재미있게 체험할 수 있도록 구성되어 있습니다.<br>
			<br>
			부산영화체험박물관 영화 탐험 STORY<br>
			"잃어버린 5개의 코어필름을 찾아서 떠나는 나만의 영화탐험"<br>
			<br>
			영화의 도시로부터 받은 한 장의 초대장.<br>
			사람들의 무관심으로 빛을 잃고 위기에 빠진 영화의 도시를 구하기 위해 영화 도시 곳곳을 누비며 끊어진 코어필름을 완성하라!<br>
			잃어버린 5개의 코어필름을 찾기 위해 영화에 대한 사람들의 관심이 뜨거웠던 100년 전 영화도시 부산으로 시간여행을 떠난다.<br>
			영화의 역사를 따라가며 곳곳에 있는 체험을 완료하고 코어필름을 획득하자!
		</div>
	</div>
	<div class="zone_div_area">
		<div class="zone_title thisZone" id="zone_div_1" onclick="open_zone(1)">
			<p>체험존1</p>
		</div>
		<div class="zone_title" id="zone_div_2" onclick="open_zone(2)">
			<p>체험존2</p>
		</div>
		<div class="zone_title" id="zone_div_3" onclick="open_zone(3)">
			<p>체험존3</p>
		</div>
		<div class="zone_title" id="zone_div_4" onclick="open_zone(4)">
			<p>체험존4</p>
		</div>
		<div class="zone_title" id="zone_div_5" onclick="open_zone(5)">
			<p>체험존5</p>
		</div>
	</div>
	
	<div class="zone_img_area" id="zone_1">
		<div class="zoneImg_text_area">
			<div class="zone_text_left">
				<div class="zoneName_div">체험존 1</div>
				<div class="zoneName_title">영화도시 중앙역</div>
			</div>
			<div class="zone_text_right">
				영화탐험의 미션을 듣고 영화탐험을 준비하는 여행의 출발지시공간여행 열차에 탑승!<br>
				5개의 코어필름을 찾으러 영화도시로 출발
			</div>
		</div>
		<div class="zoneImg_info_area">
			<div class="zone_img_left">
				<img src="/imgs/3rd_zone_1_location.jpg">
			</div>
			<div class="zone_img_right">
				<img src="/imgs/3rd_zone_1_top.jpg" class="top_img">
				<img src="/imgs/3rd_zone_1_bottom.JPG" class="bottom_img">
			</div>
		</div>
	</div>
	
	<div class="zone_img_area" id="zone_2">
		<div class="zoneImg_text_area">
			<div class="zone_text_left">
				<div class="zoneName_div">체험존 2</div>
				<div class="zoneName_title">영화 역사의 거리</div>
			</div>
			<div class="zone_text_right">
				부산 영화의 발자취를 따라 걷는 영화역사의 거리
			</div>
		</div>
		<div class="zoneImg_info_area">
			<div class="zone_img_left">
				<img src="/imgs/3rd_zone_2_location.jpg">
			</div>
			<div class="zone_img_right">
				<img src="/imgs/3rd_zone_2_top.JPG" class="top_img">
				<img src="/imgs/3rd_zone_2_bottom.JPG" class="bottom_img">
			</div>
		</div>
	</div>
	
	<div class="zone_img_area" id="zone_3">
		<div class="zoneImg_text_area">
			<div class="zone_text_left">
				<div class="zoneName_div">체험존 3</div>
				<div class="zoneName_title">명작의 광장</div>
			</div>
			<div class="zone_text_right">
				영화OST와 영화가 된 원작까지. 상상하며 즐기는 명작의 광장
			</div>
		</div>
		<div class="zoneImg_info_area">
			<div class="zone_img_left">
				<img src="/imgs/3rd_zone_3_location.jpg">
			</div>
			<div class="zone_img_right">
				<img src="/imgs/3rd_zone_3_top.JPG" class="top_img">
				<img src="/imgs/3rd_zone_3_bottom.JPG" class="bottom_img">
			</div>
		</div>
	</div>
	
	<div class="zone_img_area" id="zone_4">
		<div class="zoneImg_text_area">
			<div class="zone_text_left">
				<div class="zoneName_div">체험존 4</div>
				<div class="zoneName_title">시네마 아카데미</div>
			</div>
			<div class="zone_text_right">
				영화 기획에서 촬영, 편집까지 영화제작과정의 비법을 전수
			</div>
		</div>
		<div class="zoneImg_info_area">
			<div class="zone_img_left">
				<img src="/imgs/3rd_zone_4_location.jpg">
			</div>
			<div class="zone_img_right">
				<img src="/imgs/3rd_zone_4_top.JPG" class="top_img">
				<img src="/imgs/3rd_zone_4_bottom.JPG" class="bottom_img">
			</div>
		</div>
	</div>
	
		<div class="zone_img_area" id="zone_5">
		<div class="zoneImg_text_area">
			<div class="zone_text_left">
				<div class="zoneName_div">체험존 5</div>
				<div class="zoneName_title">시네마 스튜디오</div>
			</div>
			<div class="zone_text_right">
				최신 영상기법과 장비를 활용하여 나만의 영화예고편 만들기
			</div>
		</div>
		<div class="zoneImg_info_area">
			<div class="zone_img_left">
				<img src="/imgs/3rd_zone_5_location.jpg">
			</div>
			<div class="zone_img_right">
				<img src="/imgs/3rd_zone_5_top.JPG" class="top_img">
				<img src="/imgs/3rd_zone_5_bottom.JPG" class="bottom_img">
			</div>
		</div>
	</div>
	
	<script>
		function open_zone(num){
			$('#zone_div_'+num).attr('class','zone_title thisZone');
			$('.zone_title').not('div [id="zone_div_'+num+'"]').removeClass('thisZone');
			
			$('.zone_img_area').not('div [id="zone_'+num+'"]').css('display', 'none');
			$('#zone_'+num).css('display', 'block');
		}
	</script>
</div>
</body>
</html>