<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sidebar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/head.css">
</head>
<body>
<header th:fragment="head">
    <section class="inwrap">
        <nav class="navbar">
            <div class="logo_menu">
                <img src="/imgs/logo.png" onclick="location.href='/'">
                <ul class="head_menu" onclick="open_sitemap()">
                    <li>관람정보</li>
                    <li>전시</li>
                    <li>소통</li>
                    <li>박물관 소개</li>
                </ul>
                <div class="language_menu">
                	<div class="language_choice" onclick="open_language()">
                		<p>한국어</p>
                		<img src="/imgs/language_select_icon.png">
                	</div>
                </div>
            </div>
            
            <div class="language_select">
               	<ul class="language_option">
               		<li class="optionItem">한국어</li>
               		<li class="optionItem">ENGLISH</li>
			      	<li class="optionItem">日本語</li>
			      	<li class="optionItem">简体中文</li> <!-- 간체 -->
			      	<li class="optionItem">繁体中文</li> <!-- 번체 -->
               	</ul>
            </div>
            
			<div id="sitemap">
				<div class="sitemap_wrap">
				
					<!-- 관람정보 -->
					<div class="info_wrap">
						<div class="top_depth">
							관람정보
						</div>
						<div class="middle_depth">
							<p class="middle_depth_div">이용안내</p>
							<ul class="last_depth">
								<li onclick="location.href='/viewing_guidance'">관람안내</li>
								<li onclick="location.href='/map'">찾아오시는 길</li>
							</ul>
						</div>
						
						<div class="middle_depth">
							<p class="middle_depth_div">예약</p>
							<ul class="last_depth">
								<li onclick="location.href='/reservation_personal'">개인</li>
								<li onclick="location.href='/reservation_group'">단체</li>
							</ul>
						</div>
						
						<div class="middle_depth">
							<p class="middle_depth_div">대관안내</p>
							<ul class="last_depth">
								<li onclick="location.href='/reservation_facilities'">대관예약</li>
								<li onclick="location.href='/reservation_facilities_price'">대관요금</li>
							</ul>
						</div>
					</div>
					
					<!-- 전시 -->
					<div class="info_wrap">
						<div class="top_depth">
							전시
						</div>
						<div class="middle_depth">
							<p class="middle_depth_div">상설전시</p>
							<ul class="last_depth">
								<li onclick="location.href='/experience_zone_3rdFloor'">체험존(3층)</li>
								<li onclick="location.href='/experience_zone_4thFloor'">체험존(4층)</li>
								<li onclick="location.href='/trickEye_2ndFloor'">트릭아이뮤지엄(2층)</li>
							</ul>
						</div>
						
						<div class="middle_depth">
							<p class="middle_depth_div">기획전시</p>
							<ul class="last_depth">
								<li onclick="location.href='/exhibition_1stFloor'">홍영철전시관(1층)</li>
								<li onclick="location.href='/exhibition_4thFloor'">명화극장(4층)</li>
							</ul>
						</div>
						
						<div class="middle_depth">
							<p class="middle_depth_div">특별전시</p>
							<ul class="last_depth">
								<li onclick="location.href='/exhibition_actor'">한국배우200사진전(2층)</li>
							</ul>
						</div>
						
						<div class="middle_depth">
							<p class="middle_depth_div">온라인전시관</p>
							<ul class="last_depth">
								<li onclick="location.href='/online_exhibition'">홍영철 온라인 전시관</li>
								<li onclick="location.href='/contest_exhibition'">공모전 전시관</li>
							</ul>
						</div>
						
						<div class="middle_depth">
							<p class="middle_depth_div">교육</p>
							<ul class="last_depth">
								<li onclick="location.href='/activity_document'">박물관 활동지</li>
								<li onclick="location.href='/museum_eduList'">지난교육</li>
							</ul>
						</div>
					</div>
					
					<!-- 소통 -->
					<div class="info_wrap">
						<div class="top_depth">
							소통
						</div>
						<div class="middle_depth">
							<p class="middle_depth_div">공지사항</p>
							<ul class="last_depth">
								<li onclick="location.href='/museum_newsList'">박물관 소식</li>
								<li onclick="location.href='/museum_noticeList'">공고</li>
							</ul>
						</div>
						
						<div class="middle_depth">
							<p class="middle_depth_div">이벤트</p>
							<ul class="last_depth">
								<li onclick="location.href='/museum_eventList'">박물관 이벤트</li>
								<li onclick="location.href='/museum_partnerList'">제휴안내</li>
							</ul>
						</div>
						
						<div class="middle_depth_qna" onclick="location.href='/museum_qnaList'">
							Q&A
						</div>
						
						<div class="middle_depth_qna" onclick="location.href='/faq'">
							자주하는 질문
						</div>
					</div>
					
					<!-- 박물관 소개 -->
					<div class="info_wrap">
						<div class="top_depth">
							박물관 소개
						</div>
						<div class="middle_depth_last" onclick="location.href='/greetings'">
							인사말
						</div>
						
						<div class="middle_depth_last" onclick="location.href='/organization_chart'">
							조직도
						</div>
						
						<div class="middle_depth_last" onclick="location.href='/history'">
							연혁
						</div>
						
						<div class="middle_depth_last" onclick="location.href='/facility_info'">
							시설현황
						</div>
						
						<div class="middle_depth_last" onclick="location.href='/signature'">
							시그니쳐(MI)
						</div>
						
						<div class="middle_depth_last" onclick="location.href='/donation_info'">
							기증안내
						</div>
					</div>
					
				</div>
			</div>
			<script>
				function open_sitemap() {
					$('#sitemap').css('display', 'block');
					
					//외부영역 클릭시 드롭메뉴 닫기
					$(document).mouseup(function (e) {
						var movewrap = $('#sitemap');
						if (movewrap.has(e.target).length === 0) {
							movewrap.hide();
						}
					});
				}
				
				function open_language() {
					$('.language_select').css('display', 'block');
					
					//외부영역 클릭시 드롭메뉴 닫기
					$(document).mouseup(function (e) {
						var movewrap = $('.language_select');
						if (movewrap.has(e.target).length === 0) {
							movewrap.hide();
						}
					});
				}
			</script>
        </nav>
    </section>
</header>
</body>
</html>