<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sidebar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/head.css">
</head>
<body>
<header th:fragment="head">
    <section class="inwrap">
        <nav class="navbar">
            <div class="logo_menu">
                <img src="/imgs/logo.png" onclick="location.href='/'">
                <ul class="head_menu" onclick="open_sitemap()">
                    <li>관람정보</li>
                    <li>전시</li>
                    <li>소통</li>
                    <li>박물관 소개</li>
                </ul>
                <div class="language_menu">
                	<div class="language_choice">
                		<p>한국어</p>
                		<img src="/imgs/language_select_icon.png">
                	</div>
                </div>
                <div class="language_select">
                	<ul class="language_option">
                		<li class="optionItem">한국어</li>
                		<li class="optionItem">ENGLISH</li>
				      	<li class="optionItem">日本語</li>
				      	<li class="optionItem">简体中文</li>
                	</ul>
                </div>
            </div>
            
			<div id="sitemap">
				<div class="sitemap_wrap">
				
					<!-- 관람정보 -->
					<div class="info_wrap">
						<div class="top_depth">
							관람정보
						</div>
						<div class="middle_depth">
							이용안내
						</div>
						<ul class="last_depth">
							<li>관람안내</li>
							<li>찾아오시는 길</li>
						</ul>
						
						<div class="middle_depth">
							예약
						</div>
						<ul class="last_depth">
							<li>개인</li>
							<li>단체</li>
						</ul>
						
						<div class="middle_depth">
							대관안내
						</div>
						<ul class="last_depth">
							<li>대관예약</li>
							<li>대관요금</li>
						</ul>
					</div>
					
					<!-- 전시 -->
					<div class="info_wrap">
						<div class="top_depth">
							전시
						</div>
						<div class="middle_depth">
							상설전시
						</div>
						<ul class="last_depth">
							<li>체험존(3층)</li>
							<li>체험존(4층)</li>
							<li>트릭아이뮤지엄(2층)</li>
						</ul>
						
						<div class="middle_depth">
							기획전시
						</div>
						<ul class="last_depth">
							<li>홍영철전시관(1층)</li>
							<li>명화극장(4층)</li>
						</ul>
						
						<div class="middle_depth">
							특별전시
						</div>
						<ul class="last_depth">
							<li>한국배우200사진전(2층)</li>
						</ul>
						
						<div class="middle_depth">
							온라인전시관
						</div>
						<ul class="last_depth">
							<li>홍영철 온라인 전시관</li>
							<li>공모전 전시관</li>
						</ul>
						
						<div class="middle_depth">
							교육
						</div>
						<ul class="last_depth">
							<li>박물관 활동지</li>
							<li>지난교육</li>
						</ul>
					</div>
				</div>
			</div>
			<script>
				function open_sitemap() {
					debugger;
					$('#sitemap').css('display', 'block');
					
					//외부영역 클릭시 드롭메뉴 닫기
					$(document).mouseup(function (e) {
						var movewrap = $('#sitemap');
						if (movewrap.has(e.target).length === 0) {
							movewrap.hide();
						}
					});
				}
			</script>
        </nav>
    </section>
</header>
</body>
</html>