<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>sidebar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/head.css">
</head>

<body>
<header th:fragment="head">
    <section class="inwrap">
        <nav class="navbar">
            <div class="logo_menu">
                <img src="/imgs/logo.png">
                <ul class="head_menu">
                    <li>관람정보</li>
                    <li>전시</li>
                    <li>소통</li>
                    <li>박물관 소개</li>
                </ul>
            </div>
            

        </nav>
    </section>
</header>
</body>
</html>