<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/info.css">
    <title>부산영화체험박물관 | 연혁</title>
</head>
<body>
<div th:replace="/head :: head">

</div>
<div class="gnb_bar">
    <ul class="gnb_wrap">
        <a href="/"><li class="home_btn"><img src="/imgs/home_icon.png"></li></a>
        <li class="div_bar">|</li>
        <li class="category_1" onclick="drop_gnb(1)">박물관 소개<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_2" onclick="drop_gnb(2)">연혁<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
    </ul>
</div>

<div class="gnb_bar_drop">
    <ul id="depth_1">
    	<a href="/viewing_guidance"><li>관람정보</li></a>
    	<a href="/experience_zone_3rdFloor"><li>전시</li></a>
    	<a href="/museum_newsList"><li>소통</li></a>
    	<a href="/greetings"><li>박물관소개</li></a>
    </ul>
    
    <ul id="depth_2">
    	<a href="/greetings"><li>인사말</li></a>
    	<a href="/organization_chart"><li>조직도</li></a>
    	<a href="/history"><li>연혁</li></a>
    	<a href="/facility_info"><li>시설현황</li></a>
    	<a href="/signature"><li>시그니쳐(MI)</li></a>
    	<a href="/donation_info"><li>기증안내</li></a>
    </ul>
</div>
<script>
	function drop_gnb(num){
		$('#depth_'+num).css('display', 'block');
		
		//외부영역 클릭시 드롭메뉴 닫기
		$(document).mouseup(function (e) {
			var movewrap = $('#depth_'+num);
			if (movewrap.has(e.target).length === 0) {
				movewrap.hide();
			}
		});
	}
</script>
<div class="wrap">
	<div class="contents_wrap">
		<div class="page_title">
			<div class="page_name_area"><h1>연혁</h1></div>
		</div>
	</div>
		<div class="text_wrap">
			<div class="year_div">
				<div class="left_year">
					<p>2021</p>
				</div>
				<div class="right_content">
					<li>
						<p class="red_month">12</p>
						<p>기획전시 &lt;영화, 우주를 만나다&gt; 개관</p>
					</li>
					<li>
						<p class="red_month">06</p>
						<p>고신대학교 광고홍보학과 업무협약 체결</p>
					</li>
					<li>
						<p class="red_month">03</p>
						<p>기획전시 &lt;한국고전영화 감상·전시展&gt; 개관</p>
					</li>
				</div>
			</div>
			
			<div class="year_div">
				<div class="left_year">
					<p>2020</p>
				</div>
				<div class="right_content">
					<li>
						<p class="red_month">07</p>
						<p>부산광역시일생활균형지원센터 업무협약 체결</p>
					</li>
				</div>
			</div>
			
			<div class="year_div">
				<div class="left_year">
					<p>2019</p>
				</div>
				<div class="right_content">
					<li>
						<p class="red_month">12</p>
						<p>기획전시 &lt;영화 속, 매킨토시&gt; 개관</p>
					</li>
					<li>
						<p class="red_month">09</p>
						<p>부산광역시립중앙도서관 업무협약 체결</p>
					</li>
					<li>
						<p class="red_month">07</p>
						<p>(사)부산독립영화협회 업무협약 체결</p>
					</li>
					<li>
						<p class="red_month">05</p>
						<p>한국영상자료원 업무협약 체결</p>
					</li>
					<li>
						<p class="red_month">02</p>
						<p>부산광역시교육청 부산방과후행복카드 협약 체결<br>부산시사회공헌정보센터 협약 체결</p>
					</li>
				</div>
			</div>
			
			<div class="year_div">
				<div class="left_year">
					<p>2018</p>
				</div>
				<div class="right_content">
					<li>
						<p class="red_month">10</p>
						<p>故홍영철 아카이브 전시실 개관</p>
					</li>
					<li>
						<p class="red_month">08</p>
						<p>부산국제영화제 &lt;커뮤니티BIFF&gt; 업무협약 체결</p>
					</li>
					<li>
						<p class="red_month">05</p>
						<p>부산중부경찰서 업무협약 체결</p>
					</li>
					<li>
						<p class="red_month">04</p>
						<p>부산시청자미디어센터 업무협약 체결<br>부산지방경찰청 업무협약 체결</p>
					</li>
					<li>
						<p class="red_month">03</p>
						<p>부산트릭아이뮤지엄 유치 및 통합운영</p>
					</li>
				</div>
			</div>
			
			<div class="year_div">
				<div class="left_year">
					<p>2017</p>
				</div>
				<div class="right_content">
					<li>
						<p class="red_month">12</p>
						<p>모바일 전시해설 서비스 개시</p>
					</li>
					<li>
						<p class="red_month">08</p>
						<p>부산지역진로교육지원센터 업무협약 체결</p>
					</li>
					<li>
						<p class="red_month">07</p>
						<p>영화의전당 업무협약 체결</p>
					</li>
					<li>
						<p class="red_month">06</p>
						<p>부산영화체험박물관 개관</p>
					</li>
					<li>
						<p class="red_month">03</p>
						<p>부산영화체험박물관 시설 준공</p>
					</li>
				</div>
			</div>
			
			<div class="year_div">
				<div class="left_year">
					<p>2015</p>
				</div>
				<div class="right_content">
					<li>
						<p class="red_month">03</p>
						<p>부산영화체험박물관 공사 착공</p>
					</li>
				</div>
			</div>
			
			<div class="year_div">
				<div class="left_year">
					<p>2014</p>
				</div>
				<div class="right_content">
					<li>
						<p class="red_month">04</p>
						<p>부산광역시 (주)부산영화박물관 실시협약 체결</p>
					</li>
				</div>
			</div>
			
			<div class="year_div">
				<div class="left_year">
					<p>2009</p>
				</div>
				<div class="right_content">
					<li>
						<p class="red_month">12</p>
						<p>사업시행자 (주)부산영화박물관 선정</p>
					</li>
				</div>
			</div>
			
			<div class="year_div">
				<div class="left_year">
					<p>2008</p>
				</div>
				<div class="right_content">
					<li>
						<p class="red_month">01</p>
						<p>문화체육관광부 BTL 사업 지정</p>
					</li>
				</div>
			</div>
			
			<div class="year_div">
				<div class="left_year">
					<p>2005</p>
				</div>
				<div class="right_content">
					<li>
						<p class="red_month">05</p>
						<p>BTL 사업추진계획 수립</p>
					</li>
				</div>
			</div>
			
		</div>
</div>
</body>
</html>