<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>부산영화체험박물관</title>
    <script src="/js/main.js"></script>
</head>
<script>
$(document).ready(function () {
	new Swiper('.swiper',{ 
	  direction : 'horizontal', //수평 슬라이드
	  autoplay: {     //자동슬라이드 (false-비활성화)
	      delay: 3000, // 시간 설정
	      disableOnInteraction: false, // false-스와이프 후 자동 재생
	    },
	  loop:true,	//반복 재생 여부
	  slidesPerView: 1, //한번에 보여질 슬라이드 수
	  pagination: {
		    el: '.swiper-pagination',
		    clickable: true,
		    type: "fraction"
		  },
	  navigation: {
		    prevEl: '.swiper-button-prev',
		    nextEl: '.swiper-button-next'
		  }
	});
	
	new Swiper('.swiper_exhb',{ 
		  direction : 'horizontal', //수평 슬라이드
		  autoplay: false,
		  spaceBetween : 360,
		  loop:true,	//반복 재생 여부
		  slidesPerView: 1, //한번에 보여질 슬라이드 수
		  pagination: {
			    el: '.swiper-pagination',
			    clickable: true,
			    type: "fraction"
			  },
		  navigation: {
			    prevEl: '.exhb_navigation_prev',
			    nextEl: '.exhb_navigation_next'
			  }
		});
	
	new Swiper('.swiper_news',{ 
		  direction : 'horizontal', //수평 슬라이드
		  autoplay: false,
		  spaceBetween : 24,
		  slidesPerGroup : 3,
		  loop:false,	//반복 재생 여부
		  slidesPerView: 'auto', //한번에 보여질 슬라이드 수
		  centeredSlides: false, // 양쪽 미리보기
		  autoHeight: true,
		  allowTouchMove : false, //(false-스와이핑안됨)버튼으로만 슬라이드 조작이 가능
		  loopAdditionalSlides : 1,
		  pagination: {
			    el: '.swiper-pagination',
			    clickable: true,
			    type: "fraction"
			  },
		  navigation: {
			    prevEl: '.news_navigation_prev',
			    nextEl: '.news_navigation_next'
			  }
		});
	
	new Swiper('.swiper_event',{ 
		  direction : 'horizontal', //수평 슬라이드
		  autoplay: false,
// 		  spaceBetween : 24,
		  slidesPerGroup : 1,
		  loop:false,	//반복 재생 여부
		  slidesPerView: 'auto', //한번에 보여질 슬라이드 수
		  centeredSlides: false, // 양쪽 미리보기
		  autoHeight: true,
		  allowTouchMove : false, //(false-스와이핑안됨)버튼으로만 슬라이드 조작이 가능
		  loopAdditionalSlides : 1,
		  pagination: {
			    el: '.swiper-pagination',
			    clickable: true,
			    type: "fraction"
			  },
		  navigation: {
			    prevEl: '.event_navigation_prev',
			    nextEl: '.event_navigation_next'
			  }
		});
	
	new Swiper('.swiper_partner',{ 
		  direction : 'horizontal', //수평 슬라이드
		  autoplay: false,
		  spaceBetween : 25,
		  slidesPerGroup : 3,
		  loop:false,	//반복 재생 여부
		  slidesPerView: 'auto', //한번에 보여질 슬라이드 수
		  centeredSlides: false, // 양쪽 미리보기
		  autoHeight: true,
		  allowTouchMove : false, //(false-스와이핑안됨)버튼으로만 슬라이드 조작이 가능
		  loopAdditionalSlides : 1,
		  pagination: {
			    el: '.swiper-pagination',
			    clickable: true,
			    type: "fraction"
			  },
		  navigation: {
			    prevEl: '.partner_navigation_prev',
			    nextEl: '.partner_navigation_next'
			  }
		});
})
</script>
<body>
	<div th:replace="/head :: head"></div>
	
	<!-- 팝업 창 작성 시작 부분 -->
	<div th:each="popup : ${popup_list}" class="popup_modal">
		<div th:id="'popup_'+${popupStat.count}" class="popup">
		    <div class="layerBox">
		        <div class="cont" th:if="${popup.click_link == ''}">
					<img id="popup" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/popup-folder/' +${popup.file_name}}" alt="poster_img">
		        </div>
		        <div class="cont" th:if="${popup.click_link != ''}">
					<a th:href="@{(${popup.click_link})}">
					<img id="popup" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/popup-folder/' +${popup.file_name}}" alt="poster_img">
					</a>
		        </div>
		        <div class="close">
		            <div id="check" class="btnTodayHide">
						<input type="checkbox" value="checkbox" name="chkbox" th:class="'chkday_'+${popupStat.count}" th:id="'chkday_'+${popupStat.count}"/>
						<label th:for="'chkday_'+${popupStat.count}"></label>
						<div class="chkday_text">오늘은 그만보기</div>
					</div>
		            <span th:id="'close_'+${popupStat.count}" class="btnClose" th:onclick="'closeWin('+${popupStat.count}+')'">
						close <img src="/imgs/popup_close.svg">
					</span>
		        </div>
		    </div>
		</div>
	</div>
	
	<div class="swiper" id="slide">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="/imgs/main_1.jpg" alt="슬라이드1"></div>
	        <div class="swiper-slide"><img src="/imgs/main_2.jpg" alt="슬라이드2"></div>
	        <div class="swiper-slide"><img src="/imgs/main_3.jpg" alt="슬라이드3"></div>
	    </div>
	    
	    <div class="slide_text">
	    	<p>영화에 대한 모든 것을 보고 느끼는</p>
	    	<p class="slide_text_bold">부산영화체험박물관</p>
	    </div>
	    
	    <div class="main_slide_iconBox">
	    	<div class="personal_icon_area" onclick="location.href='/reservation_personal'">
	    		<div class="icon_wrap">
		    		<div class="icon_img">
		    			<img src="/imgs/main_personal_icon.png" class="unhover_personal">
		    			<img src="/imgs/main_personal_icon_hover.png" class="hover_personal">
		    		</div>
		    		<p>개인 예매</p>
	    		</div>
	    	</div>
	    	<div class="group_icon_area" onclick="location.href='/reservation_group'">
		    	<div class="icon_wrap">
		    		<div class="icon_img">
		    			<img src="/imgs/main_group_icon.png" class="unhover_group">
		    			<img src="/imgs/main_group_icon_hover.png" class="hover_group">
		    		</div>
		    		<p>단체 예약</p>
	    		</div>
	    	</div>
	    	<div class="price_icon_area" onclick="location.href='/viewing_guidance#price_table'">
	    		<div class="icon_wrap">
		    		<div class="icon_img">
		    			<img src="/imgs/main_price_icon.png" class="unhover">
		    		</div>
		    		<p>요금안내</p>
	    		</div>
	    	</div>
	    	<div class="map_icon_area" onclick="location.href='/map'">
	    		<div class="icon_wrap">
		    		<div class="icon_img">
		    			<img src="/imgs/main_map_icon.png" class="unhover_map">
		    			<img src="/imgs/main_map_icon_hover.png" class="hover_map">
		    		</div>
		    		<p>오시는길</p>
	    		</div>
	    	</div>
	    </div>
	    
	    <div class="swiper-pagination"></div>
	    <div class="swiper-button-prev"></div>
  		<div class="swiper-button-next"></div>
	</div>
	
	<div class="main_info_area">
		<div class="info_text_wrap">
			<div class="left_info_wrap">
				<div class="viewing_time_info">
					<p>관람시간</p>
					<div class="div_bar_info"></div>
					<p>10:00 - 18:00</p>
				</div>
				<p>・</p>
				<div class="closed_day_info">
					<p>휴관일</p>
					<div class="div_bar_info"></div>
					<p>매주 월요일(단, 공휴일과 겹치는 경우 그 다음 날), 1월 1일, 설날, 추석 당일</p>
				</div>
			</div>
			<div class="more_info" onclick="location.href='/viewing_guidance'">
				<p>더보기</p>
				<p>+</p>
			</div>
		</div>
	</div>
	
	<div class="exhb_slide_area">
		<div class="exhb_area_title">
			<div class="title_flex_area">
				<p class="title_gray">EXHIBITON</p>
				<p class="title_main">전시안내</p>
			</div>
			<div class="slide_icon_area">
				<img src="/imgs/main_slide_prev_black.png" class="exhb_navigation_prev">
				<img src="/imgs/main_slide_next_black.png" class="exhb_navigation_next">
			</div>
		</div>
		
		<div id="swiper_wrapper_exhb">
		<div class="swiper_exhb">
			<div class="exhb_slide_info_area swiper-wrapper">
				<div class="swiper-slide">
					<img src="/imgs/main_3rdFloor.png">
					<div class="exhb_img_info">
						<div class="img_info_top">
							<p>상설전시</p>
							<div class="img_info_div"></div>
							<p class="img_info_title">체험존 3층</p>
						</div>
						<div class="exhb_link_div" onclick="location.href='/experience_zone_3rdFloor'">
							<p>자세히보기</p>
							<img src="/imgs/exhb_link_icon.png">
						</div>
					</div>
				</div>
				
				<div class="swiper-slide">
					<img src="/imgs/main_4thFloor.png">
					<div class="exhb_img_info">
						<div class="img_info_top">
							<p>상설전시</p>
							<div class="img_info_div"></div>
							<p class="img_info_title">체험존 4층</p>
						</div>
						<div class="exhb_link_div" onclick="location.href='/experience_zone_4thFloor'">
							<p>자세히보기</p>
							<img src="/imgs/exhb_link_icon.png">
						</div>
					</div>
				</div>
				
				<div class="swiper-slide">
					<img src="/imgs/main_trickEye.png">
					<div class="exhb_img_info">
						<div class="img_info_top">
							<p>상설전시</p>
							<div class="img_info_div"></div>
							<p class="img_info_title">트릭아이뮤지엄</p>
						</div>
						<div class="exhb_link_div" onclick="location.href='/trickEye_2ndFloor'">
							<p>자세히보기</p>
							<img src="/imgs/exhb_link_icon.png">
						</div>
					</div>
				</div>
				
				<div class="swiper-slide">
					<img src="/imgs/main_painting.png">
					<div class="exhb_img_info">
						<div class="img_info_top">
							<p>기획전시</p>
							<div class="img_info_div"></div>
							<p class="img_info_title">명화극장</p>
						</div>
						<div class="exhb_link_div" onclick="location.href='/exhibition_4thFloor'">
							<p>자세히보기</p>
							<img src="/imgs/exhb_link_icon.png">
						</div>
					</div>
				</div>
				
				<div class="swiper-slide">
					<img src="/imgs/main_1stFloor.png">
					<div class="exhb_img_info">
						<div class="img_info_top">
							<p>기획전시</p>
							<div class="img_info_div"></div>
							<p class="img_info_title">홍영철전시관</p>
						</div>
						<div class="exhb_link_div" onclick="location.href='/exhibition_1stFloor'">
							<p>자세히보기</p>
							<img src="/imgs/exhb_link_icon.png">
						</div>
					</div>
				</div>
				
				<div class="swiper-slide">
					<img src="/imgs/main_actor.png">
					<div class="exhb_img_info">
						<div class="img_info_top">
							<p>특별전시</p>
							<div class="img_info_div"></div>
							<p class="img_info_title">한국배우<br>200인 사진전</p>
						</div>
						<div class="exhb_link_div" onclick="location.href='/exhibition_actor'">
							<p>자세히보기</p>
							<img src="/imgs/exhb_link_icon.png">
						</div>
					</div>
				</div>
				
				<div class="swiper-slide">
					<img src="/imgs/main_online.png">
					<div class="exhb_img_info">
						<div class="img_info_top">
							<p>온라인전시</p>
							<div class="img_info_div_online"></div>
							<p class="img_info_title">홍영철<br>온라인 전시관</p>
						</div>
						<div class="exhb_link_div" onclick="location.href='/online_exhibition'">
							<p>자세히보기</p>
							<img src="/imgs/exhb_link_icon.png">
						</div>
					</div>
				</div>
				
				<div class="swiper-slide">
					<img src="/imgs/main_contest.png">
					<div class="exhb_img_info">
						<div class="img_info_top">
							<p>온라인전시</p>
							<div class="img_info_div_online"></div>
							<p class="img_info_title">공모전 전시관</p>
						</div>
						<div class="exhb_link_div" onclick="location.href='/contest_exhibition'">
							<p>자세히보기</p>
							<img src="/imgs/exhb_link_icon.png">
						</div>
					</div>
				</div>
				
			</div>
		</div>
		</div>
	</div>
	
	<div class="news_area">
		<div class="exhb_area_title">
			<div class="title_flex_area">
				<p class="title_gray">NEWS</p>
				<p class="title_main">박물관 소식</p>
			</div>
			<div class="slide_icon_area">
				<img src="/imgs/main_slide_prev_black.png" class="news_navigation_prev">
				<img src="/imgs/main_slide_next_black.png" class="news_navigation_next">
			</div>
		</div>
		
		<div id="swiper_wrapper_news">
			<div class="swiper_news">
				<div class="news_slide_info_area swiper-wrapper">
					<div class="swiper-slide" th:each="news : ${news_list}">
						<a th:href="@{museum_newsDetail(id=${news.id})}">
							<div class="news_poster">
								<img id="poster" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/news-folder/' +${news.news_poster}}" alt="poster_img">
							</div>
							<div class="news_info">
								<div class="news_title"><p>[(${news.news_title})]</p></div>
								<div class="news_detail">
									<p>일시 : [(${news.news_date})]</p>
									<p>장소 : [(${news.news_place})]</p>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="main_bottom_flex">
		<div class="event_area">
			<div class="event_area_title">
				<div class="title_flex_area">
					<p class="title_gray">EVENT</p>
					<p class="title_main">박물관 이벤트</p>
				</div>
				<div class="slide_icon_area">
					<img src="/imgs/main_slide_prev_black.png" class="event_navigation_prev">
					<img src="/imgs/main_slide_next_black.png" class="event_navigation_next">
				</div>
			</div>
			
			<div id="swiper_wrapper_event">
			<div class="swiper_event">
				<div class="event_slide_info_area swiper-wrapper">
					<div class="swiper-slide event_slide" th:each="event : ${event_list}">
						<a th:href="@{museum_eventDetail(id=${event.id})}">
							<div class="event_poster_left">
								<img id="poster" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/event-folder/' +${event.event_poster}}" alt="poster_img">
							</div>
							<div class="event_info_right">
								<div class="event_flex_text">
								<div class="event_title"><p>[(${event.event_title})]</p></div>
								<div class="event_detail"><p>[(${event.event_content})]</p></div>
								</div>
								<div class="event_date"><p>[(${event.create_date})]</p></div>
							</div>
						</a>
					</div>
				</div>
			</div>
			</div>
		</div>
		
		<div class="main_bottom_right_area">
			<div class="partner_area">
				<div class="partner_area_title">
					<div class="title_flex_area">
						<p class="title_gray">PARTNERSHIP</p>
						<p class="title_main">제휴 안내</p>
					</div>
					<div class="slide_icon_area">
						<img src="/imgs/main_slide_prev_black.png" class="partner_navigation_prev">
						<img src="/imgs/main_slide_next_black.png" class="partner_navigation_next">
					</div>
				</div>
				
				<div id="swiper_wrapper_partner">
					<div class="swiper_partner">
						<div class="partner_slide_info_area swiper-wrapper">
							<div class="swiper-slide" th:each="partner : ${partner_list}">
								<a th:href="@{museum_partnerDetail(id=${partner.id})}">
									<div class="partner_poster">
										<img id="poster" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/partner-folder/' +${partner.partner_poster}}" alt="poster_img">
									</div>
									<div class="partner_info">
										<div class="partner_title"><p>[(${partner.partner_title})]</p></div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="mobile_guide_area">
				<div class="mobile_guide_wrapper">
					<div class="mobile_left_display">
						<div class="mobile_text">
							<p>"스마트한 박물관.<br>내 손안의 전시해설 모바일 가이드"</p>
						</div>
						<div class="mobile_btn_area">
							<div class="iOS_btn" onclick="window.open('https://apps.apple.com/kr/app/%EB%8F%84%EC%8A%A8%ED%8A%B8-%EC%98%81%ED%99%94%EC%B2%B4%ED%97%98%EB%B0%95%EB%AC%BC%EA%B4%80/id1371952978?ign-mpt=uo%3D4')">
								<div class="mobile_icon"><img src="/imgs/mobile_icon.svg"></div>
								<p>iOS</p>
							</div>
							<div class="android_btn" onclick="window.open('https://play.google.com/store/apps/details?id=kr.co.accessict.docent.busanbom')">
								<div class="mobile_icon"><img src="/imgs/mobile_icon.svg"></div>
								<p>Android</p>
							</div>
						</div>
					</div>
					<div class="mobile_right_display">
						<img src="/imgs/mobile_audio_guide_2.png">
					</div>
				</div>
			</div>
		</div>
	</div>

	
	<div th:replace="/footer :: footer"></div>
	
	
<!-- 팝업 JS 부분 -->
<script>
	// popup //
	var noticeCookie1 = getCookie("name_1");  // 쿠키 가져오기
	var noticeCookie2 = getCookie("name_2");  // 쿠키 가져오기
	
	if (noticeCookie1 != "value"){                
	    $('#popup_1').attr('style', 'display:block');
	}
	if(noticeCookie2 != "value"){
	    $('#popup_2').attr('style', 'display:block');
	}
	if (noticeCookie1 == "value" && noticeCookie2 != "value"){
		$('#popup_2').attr('style', 'display:block; margin-left: 0;');                
	}
	
	function setCookie(name, value){ 
	    var todayDate = new Date();
	    todayDate.setHours( 24 );
	    document.cookie = name+ "=" + escape( value ) + "; path=/; expires=" +   todayDate.toGMTString() + ";";
	} 
	 
	function closeWin(number){
		if(number == 1){
		    if ($(".chkday_1").is(":checked") ){
		        setCookie("name_1", "value"); 
		    }
		    $('#popup_1').css('display', 'none');
		    $('#popup_2').css('margin-left', '0');
		} 
	    if(number == 2){
		    if ($(".chkday_2").is(":checked") ){
		        setCookie("name_2", "value"); 
		    }
		    $('#popup_2').css('display', 'none');
		}
	}

    function getCookie(name) {
    var Found = false;
    var start, end;
    var i = 0;
    
    while(i <= document.cookie.length) {
        start = i;
        end = start + name.length;
        
        if(document.cookie.substring(start, end) == name) {
          Found = true;
          break;
        }
        i++;
    }
    
    if(Found == true) {
    start = end + 1;
    end = document.cookie.indexOf(";", start);
      if(end < start){
        end = document.cookie.length;
	  }
    	return document.cookie.substring(start, end);
    }
    return "";
}
    
    $('.chkbox').change(function() {
    	var check = $('.chkbox').val();
    });
</script>
</body>
</html>