<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
	<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>부산영화체험박물관</title>
    <script src="/js/main.js"></script>
</head>
<script>
$(document).ready(function () {
	new Swiper('.swiper',{ 
	  direction : 'horizontal', // 수직 슬라이드
	  autoplay: {     //자동슬라이드 (false-비활성화)
	      delay: 3000, // 시간 설정
	      disableOnInteraction: false, // false-스와이프 후 자동 재생
	    },
	  loop:true,	//반복 재생 여부
	  slidesPerView: 1, //한번에 보여질 슬라이드 수
	  pagination: {
		    el: '.swiper-pagination',
		    clickable: true,
		    type: "fraction"
		  },
	  navigation: {
		    prevEl: '.swiper-button-prev',
		    nextEl: '.swiper-button-next'
		  }
	});
})
</script>
<body>
	<div th:replace="/head :: head"></div>
	
	<!-- 팝업 창 작성 시작 부분 -->
	<div th:each="popup : ${popup_list}" class="popup_modal">
		<div th:id="'popup_'+${popupStat.count}" class="popup">
		    <div class="layerBox">
		        <div class="cont" th:if="${popup.click_link == ''}">
					<img id="popup" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/popup-folder/' +${popup.file_name}}" alt="poster_img">
		        </div>
		        <div class="cont" th:if="${popup.click_link != ''}">
					<a th:href="@{(${popup.click_link})}">
					<img id="popup" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/popup-folder/' +${popup.file_name}}" alt="poster_img">
					</a>
		        </div>
		        <div class="close">
		            <div id="check" class="btnTodayHide">
						<input type="checkbox" value="checkbox" name="chkbox" th:class="'chkday_'+${popupStat.count}" th:id="'chkday_'+${popupStat.count}"/>
						<label th:for="'chkday_'+${popupStat.count}"></label>
						<div class="chkday_text">오늘은 그만보기</div>
					</div>
		            <span th:id="'close_'+${popupStat.count}" class="btnClose" th:onclick="'closeWin('+${popupStat.count}+')'">
						close <img src="/imgs/popup_close.svg">
					</span>
		        </div>
		    </div>
		</div>
	</div>
	
	<div class="swiper" id="slide">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="/imgs/main_1.jpg" alt="슬라이드1"></div>
	        <div class="swiper-slide"><img src="/imgs/main_2.jpg" alt="슬라이드2"></div>
	        <div class="swiper-slide"><img src="/imgs/main_3.jpg" alt="슬라이드3"></div>
	    </div>
	    
	    <div class="slide_text">
	    	<p>영화에 대한 모든 것을 보고 느끼는</p>
	    	<p class="slide_text_bold">부산영화체험박물관</p>
	    </div>
	    
	    <div class="main_slide_iconBox">
	    	<div class="personal_icon_area" onclick="location.href='/reservation_personal'">
	    		<div class="icon_wrap">
		    		<div class="icon_img">
		    			<img src="/imgs/main_personal_icon.png" class="unhover_personal">
		    			<img src="/imgs/main_personal_icon_hover.png" class="hover_personal">
		    		</div>
		    		<p>개인 예매</p>
	    		</div>
	    	</div>
	    	<div class="group_icon_area" onclick="location.href='/reservation_group'">
		    	<div class="icon_wrap">
		    		<div class="icon_img">
		    			<img src="/imgs/main_group_icon.png" class="unhover_group">
		    			<img src="/imgs/main_group_icon_hover.png" class="hover_group">
		    		</div>
		    		<p>단체 예약</p>
	    		</div>
	    	</div>
	    	<div class="price_icon_area" onclick="location.href='/viewing_guidance#price_table'">
	    		<div class="icon_wrap">
		    		<div class="icon_img">
		    			<img src="/imgs/main_price_icon.png" class="unhover">
		    		</div>
		    		<p>요금안내</p>
	    		</div>
	    	</div>
	    	<div class="map_icon_area" onclick="location.href='/map'">
	    		<div class="icon_wrap">
		    		<div class="icon_img">
		    			<img src="/imgs/main_map_icon.png" class="unhover_map">
		    			<img src="/imgs/main_map_icon_hover.png" class="hover_map">
		    		</div>
		    		<p>오시는길</p>
	    		</div>
	    	</div>
	    </div>
	    
	    <div class="swiper-pagination"></div>
	    <div class="swiper-button-prev"></div>
  		<div class="swiper-button-next"></div>
	</div>
	
	<div class="main_info_area">
		<div class="info_text_wrap">
			<div class="left_info_wrap">
				<div class="viewing_time_info">
					<p>관람시간</p>
					<div class="div_bar_info"></div>
					<p>10:00 - 18:00</p>
				</div>
				<p>・</p>
				<div class="closed_day_info">
					<p>휴관일</p>
					<div class="div_bar_info"></div>
					<p>매주 월요일(단, 공휴일과 겹치는 경우 그 다음 날), 1월 1일, 설날, 추석 당일</p>
				</div>
			</div>
			<div class="more_info" onclick="location.href='/viewing_guidance'">
				<p>더보기</p>
				<p>+</p>
			</div>
		</div>
	</div>
	
	<div class="exhb_slide_area">
		<div class="exhb_area_title">
			<div class="title_flex_area">
				<p class="title_gray">EXHIBITON</p>
				<p class="title_main">전시안내</p>
			</div>
			<div class="slide_icon_area">
				<img src="/imgs/main_slide_prev_black.png">
				<img src="/imgs/main_slide_next_black.png">
			</div>
		</div>
		<div class="exhb_slide_area" id="3rdFloor">
			<img src="/imgs/main_3rdFloor.png">
			<div class="exhb_img_info">
				<div class="img_info_top">
					<p>상설전시</p>
					<p>체험존 3층</p>
				</div>
				<div class="exhb_link_div">
					<p>자세히보기</p>
					<img src="/imgs/exhb_link_icon.png">
				</div>
			</div>
		</div>
	</div>

<!-- 팝업 JS 부분 -->
<script>
	// popup //
	var noticeCookie1 = getCookie("name_1");  // 쿠키 가져오기
	var noticeCookie2 = getCookie("name_2");  // 쿠키 가져오기
	
	if (noticeCookie1 != "value"){                
	    $('#popup_1').attr('style', 'display:block');
	}
	if(noticeCookie2 != "value"){
	    $('#popup_2').attr('style', 'display:block');
	}
	if (noticeCookie1 == "value" && noticeCookie2 != "value"){
		$('#popup_2').attr('style', 'display:block; margin-left: 0;');                
	}
	
	function setCookie(name, value){ 
	    var todayDate = new Date();
	    todayDate.setHours( 24 );
	    document.cookie = name+ "=" + escape( value ) + "; path=/; expires=" +   todayDate.toGMTString() + ";";
	} 
	 
	function closeWin(number){
		if(number == 1){
		    if ($(".chkday_1").is(":checked") ){
		        setCookie("name_1", "value"); 
		    }
		    $('#popup_1').css('display', 'none');
		    $('#popup_2').css('margin-left', '0');
		} 
	    if(number == 2){
		    if ($(".chkday_2").is(":checked") ){
		        setCookie("name_2", "value"); 
		    }
		    $('#popup_2').css('display', 'none');
		}
	}

    function getCookie(name) {
    var Found = false;
    var start, end;
    var i = 0;
    
    while(i <= document.cookie.length) {
        start = i;
        end = start + name.length;
        
        if(document.cookie.substring(start, end) == name) {
          Found = true;
          break;
        }
        i++;
    }
    
    if(Found == true) {
    start = end + 1;
    end = document.cookie.indexOf(";", start);
      if(end < start){
        end = document.cookie.length;
	  }
    	return document.cookie.substring(start, end);
    }
    return "";
}
    
    $('.chkbox').change(function() {
    	var check = $('.chkbox').val();
    });
</script>
</body>
</html>