<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/main.css">
    <title>부산영화체험박물관</title>
    <script src="/js/main.js"></script>
</head>
<body>
	<div th:replace="/head :: head"></div>
	
	<!-- 팝업 창 작성 시작 부분 -->
	<div th:each="popup : ${popup_list}" class="popup_modal">
		<div th:id="'popup_'+${popupStat.count}" class="popup">
		    <div class="layerBox">
		        <div class="cont" th:if="${popup.click_link == ''}">
					<img id="popup" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/popup-folder/' +${popup.file_name}}" alt="poster_img">
		        </div>
		        <div class="cont" th:if="${popup.click_link != ''}">
					<a th:href="@{(${popup.click_link})}">
					<img id="popup" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/popup-folder/' +${popup.file_name}}" alt="poster_img">
					</a>
		        </div>
		        <div class="close">
		            <span id="check" class="btnTodayHide">
						<input type="checkbox" value="checkbox" name="chkbox" th:id="'chkday_'+${popupStat.count}"/>
						<label for="chkday">오늘은 그만보기</label>
					</span>
		            <span th:id="'close_'+${popupStat.count}" class="btnClose" th:onclick="'closeWin('+${popupStat.count}+')'">
						close <img src="/imgs/popup_close.svg">
					</span>
		        </div>
		    </div>
		</div>
	</div>
	
	<div class="slide_box">
	    <ul class="slide">
	        <li><img src="/imgs/bg.jpg" alt="슬라이드1"></li>
	        <li><img src="/imgs/bg2.jpg" alt="슬라이드2"></li>
	        <li><img src="/imgs/bg3.jpg" alt="슬라이드3"></li>
	    </ul>
	    <div class="inwrap">
	        <h1>영화체험박물관</h1>
	        <h1>영화체험박물관</h1>
	        <h1>영화체험박물관</h1>
	    </div>
	    <span class="prev">&lang;</span>
	    <span class="next">&rang;</span>
	</div>
	
	<div></div>
	<div></div>

<!-- 팝업 JS 부분 -->
<script>
	// popup //
	var noticeCookie1 = getCookie("name_1");  // 쿠키 가져오기
	var noticeCookie2 = getCookie("name_2");  // 쿠키 가져오기
	
	if (noticeCookie1 != "value"){                
	    $('#popup_1').attr('style', 'display:block');
	}
	if(noticeCookie2 != "value"){
	    $('#popup_2').attr('style', 'display:block');
	}
	if (noticeCookie1 == "value" && noticeCookie2 != "value"){
		$('#popup_2').attr('style', 'display:block; margin-top: 5.05%;');                
	}
	
	function setCookie(name, value){ 
	    var todayDate = new Date();
	    todayDate.setHours( 24 );
	    document.cookie = name+ "=" + escape( value ) + "; path=/; expires=" +   todayDate.toGMTString() + ";";
	} 
	 
	function closeWin(number){
		debugger;
		if(number == 1){
		    if ($("#chkday_1").is(":checked") ){
		        setCookie("name_1", "value"); 
		    }
		    $('#popup_1').css('display', 'none');
		    $('#popup_2').css('margin-top', '5.05%');
		} 
	    if(number == 2){
		    if ($("#chkday_2").is(":checked") ){
		        setCookie("name_2", "value"); 
		    }
		    $('#popup_2').css('display', 'none');
		}
	}

    function getCookie(name) {
    var Found = false;
    var start, end;
    var i = 0;
    
    while(i <= document.cookie.length) {
        start = i;
        end = start + name.length;
        
        if(document.cookie.substring(start, end) == name) {
          Found = true;
          break;
        }
        i++;
    }
    
    if(Found == true) {
    start = end + 1;
    end = document.cookie.indexOf(";", start);
      if(end < start){
        end = document.cookie.length;
	  }
    	return document.cookie.substring(start, end);
    }
    return "";
} 
</script>
</body>
</html>