<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="css/cardList.css">
    <title>부산영화체험박물관 | 박물관소식</title>
</head>
<body>
<div th:replace="/head :: head">

</div>
<div class="gnb_bar">
    <ul class="gnb_wrap">
        <a href="/"><li class="home_btn"><img src="/imgs/home_icon.png"></li></a>
        <li class="div_bar">|</li>
        <li class="category_1" onclick="drop_gnb(1)">소통<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_2" onclick="drop_gnb(2)">공지사항<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_3" onclick="drop_gnb(3)">박물관 소식<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
    </ul>
</div>

<div class="gnb_bar_drop">
    <ul id="depth_1">
    	<a href="/viewing_guidance"><li>관람정보</li></a>
    	<a href="/experience_zone_3rdFloor"><li>전시</li></a>
    	<a href="/museum_newsList"><li>소통</li></a>
    	<a href="/greetings"><li>박물관소개</li></a>
    </ul>
    
    <ul id="depth_2">
    	<a href="/museum_newsList"><li>공지사항</li></a>
    	<a href="/museum_eventList"><li>이벤트</li></a>
    	<a href="/museum_qnaList"><li>Q&A</li></a>
    	<a href="/faq"><li>자주하는 질문</li></a>
    </ul>
    
    <ul id="depth_3">
    	<a href="/museum_newsList"><li>박물관 소식</li></a>
    	<a href="/museum_noticeList"><li>공고</li></a>
    </ul>
</div>
<script>
	function drop_gnb(num){
		$('#depth_'+num).css('display', 'block');
		
		//외부영역 클릭시 드롭메뉴 닫기
		$(document).mouseup(function (e) {
			var movewrap = $('#depth_'+num);
			if (movewrap.has(e.target).length === 0) {
				movewrap.hide();
			}
		});
	}
</script>
<div class="wrap">
	<div class="contents_wrap">
		<div class="page_title">
			<div class="page_name_area"><h1>박물관 소식</h1></div>
		</div>
	</div>
		<!-- 카드보기 형식 리스트 div -->
		<div class="cardList_wrap">
			<!--전체 count, 검색 div-->
			<div class="contentTop_area">
				<div class="total_count">전체<p class="total_red">[(${total_cnt})]</p>건</div>
				
				<div class="search_area">
                    	<form id="searchForm" th:action="@{/museum_newsList}" method="get">
	                        <div class="text_search">
	                        	<input type="text" class="word_search" placeholder="검색" name="searchKeyword" th:if="${searchKeyword == null}">
	                        	<input type="text" class="word_search" th:value="${searchKeyword}" name="searchKeyword" th:if="${searchKeyword != null}">
	                        	<div class="search_button">
	                        		<button type="submit" class="search_img"><img src="/imgs/search_btn.svg"></button>
	                        	</div>
	                        </div>
                        </form>
                    </div>
			</div>
			<div class="list_wrap">
				<ul class="list">
					<li th:each="news : ${news_list}" class="news_div">
					<a th:href="@{museum_newsDetail(id=${news.id})}">
						<div class="news_poster">
							<img id="poster" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/news-folder/' +${news.news_poster}}" alt="poster_img">
						</div>
						<div class="news_info">
							<div class="news_title"><p>[(${news.news_title})]</p></div>
							<div class="news_detail">
								<p>일시 : [(${news.news_date})]</p>
								<p>장소 : [(${news.news_place})]</p>
							</div>
						</div>
					</a>
					</li>
				</ul>
				
				<!-- 페이징 -->
					<!--검색 안했을 때-->
                    <div class="null" th:if="${searchKeyword == null}">
                         <ul class="pagewrap"> 
                             <li> 
                             	<a class="page_icon" th:href="@{museum_newsList?page=1}"><img src="/imgs/page_start_btn.svg" id="pg_btn_sizing"></a> 
                             </li> 
                             <li class="icon_right"> 
                             	<a class="page_icon" th:if="${nowpage == 1}" th:href="@{museum_newsList?page={page} (page = ${nowpage})}"><img src="/imgs/page_prev_btn.svg"></a> 
                             	<a class="page_icon" th:if="${nowpage != 1}" th:href="@{museum_newsList?page={page} (page = ${nowpage}-1)}"><img src="/imgs/page_prev_btn.svg"></a> 
                             </li> 
                              <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"> 
 							    <li class="page-item"  
 							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}" 
 							    		th:each="pageButton : ${#numbers.sequence(start, end)}"> 
 							    		<a class="page-link"  th:id="'page_num'+${pageButton}" th:href="@{museum_newsList?page={page} (page = ${pageButton})}" th:text=${pageButton}></a> 
 							    </li> 
 						    </th:block> 
                             <li class="icon_left"> 
                             	<a class="page_icon" th:if="${nowpage == pagination.totalPageCnt}" th:href="@{museum_newsList?page={page} (page = ${nowpage})}"><img src="/imgs/page_next_btn.svg"></a> 
                             	<a class="page_icon" th:if="${nowpage != pagination.totalPageCnt}" th:href="@{museum_newsList?page={page} (page = ${nowpage}+1)}"><img src="/imgs/page_next_btn.svg"></a> 
                             </li> 
                             <li> 
                             	<a class="page_icon" th:href="@{museum_newsList?page={page} (page = ${pagination.totalPageCnt})}"><img src="imgs/page_end_btn.svg" id="pg_btn_sizing"></a> 
                             </li> 
                         </ul>
                    </div>
                    
                    <!-- 검색어로 검색했을 때  -->
                    <div th:if="${searchKeyword != null}" class="notnull">
                        <ul class="pagewrap">
                            <li>
                            	<a class="page_icon" th:href="@{museum_newsList?searchKeyword={key}&page=1 (key = ${searchKeyword})}"><img src="/imgs/page_start_btn.svg" id="pg_btn_sizing"></a>
                            </li>
                            <li class="icon_right">
                            	<a class="page_icon" th:if="${nowpage == 1}" th:href="@{museum_newsList?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${nowpage})}"><img src="/imgs/page_prev_btn.svg"></a>
                            	<a class="page_icon" th:if="${nowpage != 1}" th:href="@{museum_newsList?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${nowpage}-1)}"><img src="/imgs/page_prev_btn.svg"></a>
                            </li>
                             <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
							    <li class="page-item" 
							    		 th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
							    		th:each="pageButton : ${#numbers.sequence(start, end)}">
							    		<a class="page-link"  th:id="'page_num'+${pageButton}" th:href="@{museum_newsList?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${pageButton})}" th:text=${pageButton}></a>
							    </li>
						    </th:block>
                            <li class="icon_left">
                            	<a class="page_icon" th:if="${nowpage == pagination.totalPageCnt}" th:href="@{museum_newsList?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${nowpage})}"><img src="/imgs/page_next_btn.svg"></a>
                            	<a class="page_icon" th:if="${nowpage != pagination.totalPageCnt}" th:href="@{museum_newsList?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${nowpage}+1)}"><img src="/imgs/page_next_btn.svg"></a>
                            </li>
                            <li>
                            	<a class="page_icon" th:href="@{museum_newsList?searchKeyword={key}&page={page} (key = ${searchKeyword}, page = ${pagination.totalPageCnt})}"><img src="/imgs/page_end_btn.svg" id="pg_btn_sizing"></a>
                            </li>
                        </ul>
                    </div>
                    
                    <script th:inline="javascript">
                    	var nowpage = /*[[${nowpage}]]*/
                    	
						$('#page_num'+nowpage).addClass("thisPage");
                    </script>
			</div>
		</div>
		
	<div th:replace="/footer :: footer"></div>
</body>
</html>