<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/common.js"></script>
    <link rel="stylesheet" href="css/cardDetail.css">
    <title>부산영화체험박물관 | 박물관소식</title>
    
    <script>
		$(function(){
			$('#news_content').height( $('#news_content').prop('scrollHeight') );
		})
	</script>
</head>
<body>
<div th:replace="/head :: head">

</div>
<div class="gnb_bar">
    <ul class="gnb_wrap">
        <li class="home_btn"><img src="/imgs/home_icon.png"></li><li class="div_bar">|</li>
        <li class="category_1">소통</li></li><li class="div_bar">|</li>
        <li class="category_2">공지사항</li></li><li class="div_bar">|</li>
        <li class="category_3">박물관 소식</li></li><li class="div_bar">|</li>
    </ul>
</div>
<div class="wrap">
	<div class="contents_wrap">
		<div class="page_title">
			<div class="page_name_area"><h1>박물관 소식</h1></div>
		</div>
	</div>
		<!-- 게시글(카드보기) div -->
		<div class="cardList_wrap">
			<div class="detail_wrap">
				<!-- 요약내용  -->
				<div class="detail_summary">
					<div class="summary_poster">
						<img id="poster" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/news-folder/' +${news.news_poster}}" alt="poster_img">
					</div>
					<div class="summary_info">
						<div class="summary_title">
							<p>[(${news.news_title})]</p>
						</div>
						<div class="summary_content">
							<div class="content_left">
								<li>일시</li>
								<li>장소</li>
								<li>관람방법</li>
								<li>문의</li>
							</div>
							<div class="content_right">
								<li>[(${news.news_date})]</li>
								<li>[(${news.news_place})]</li>
								<li>[(${news.news_method})]</li>
								<li>[(${news.news_contact})]</li>
							</div>
						</div>
						<div class="screening_comment" th:if="${news.news_screeningCheck != 0}">
								상영은 정시에 시작되며 시작 10분 후에는 입장이 제한됩니다. <br>
								영상홀 내부 음식물 반입은 금지입니다. <br>
								주차 50% 할인권을 제공합니다. <br>
								(주차요금: 2시간 이내 500원/10분, 2시간 초과 이후 750원/10분)
						</div>
					</div>
				</div>
				<!-- 하단 상세내용(상단 요약내용과 width 다름) -->
				<div class="detail_content">
					<div class="bottom_wrap">
						<div class="content_area">
							<textarea name="news_content" id="news_content" spellcheck="false" disabled>[(${news.news_content})]</textarea>
						</div>
						<div class="poster_area">
							<img id="poster_big" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/news-folder/' +${news.news_poster}}" alt="poster_img">
						</div>
						<div class="image_area" th:if="${newsFileList != ''}">
							<li th:each="img : ${newsFileList}" class="img_div">
								<img id="img_file" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/news-folder/' +${img.file_name}}" alt="img_file" th:if="${#strings.substringAfter(img.file_name, '.')} != 'mp4'">
								<video id="video_file" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/news-folder/' +${img.file_name}}" alt="video_file" controls th:if="${#strings.substringAfter(img.file_name, '.')} == 'mp4'"></video>
							</li>
						</div>
						<div class="video_area" th:if="${news.news_link1 != '' || news.news_link2 != ''}">
							<div th:if="${news.news_link1 != ''}" id="video">[(${news.news_link1})]</div>
							<div th:if="${news.news_link2 != ''}" id="video">[(${news.news_link2})]</div>
						</div>
					</div>
				</div>
					<div class="button_area">
						<input type="button" class="list_btn" value="목록" onclick="location.href='museum_newsList'">
					</div>
			</div>
		</div>
</body>
</html>