<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="/js/common.js"></script>
    <link rel="stylesheet" href="css/cardDetail.css">
    <title>부산영화체험박물관 | 박물관이벤트</title>
    
    <script>
		$(function(){
			$('#news_content').height( $('#news_content').prop('scrollHeight') );
		})
	</script>
</head>
<body>
<div th:replace="/head :: head">

</div>
<div class="gnb_bar">
    <ul class="gnb_wrap">
        <a href="/"><li class="home_btn"><img src="/imgs/home_icon.png"></li></a>
        <li class="div_bar">|</li>
        <li class="category_1" onclick="drop_gnb(1)">소통<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_2" onclick="drop_gnb(2)">이벤트<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_3" onclick="drop_gnb(3)">박물관 이벤트<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
    </ul>
</div>

<div class="gnb_bar_drop">
    <ul id="depth_1">
    	<a href="/viewing_guidance"><li>관람정보</li></a>
    	<a href="/experience_zone_3rdFloor"><li>전시</li></a>
    	<a href="/museum_newsList"><li>소통</li></a>
    	<a href="/greetings"><li>박물관소개</li></a>
    </ul>
    
    <ul id="depth_2">
    	<a href="/museum_newsList"><li>공지사항</li></a>
    	<a href="/museum_eventList"><li>이벤트</li></a>
    	<a href="/museum_qnaList"><li>Q&A</li></a>
    	<a href="/faq"><li>자주하는 질문</li></a>
    </ul>
    
    <ul id="depth_3">
    	<a href="/museum_eventList"><li>박물관 이벤트</li></a>
    	<a href="/museum_partnerList"><li>제휴안내</li></a>
    </ul>
</div>
<script>
	function drop_gnb(num){
		$('#depth_'+num).css('display', 'block');
		
		//외부영역 클릭시 드롭메뉴 닫기
		$(document).mouseup(function (e) {
			var movewrap = $('#depth_'+num);
			if (movewrap.has(e.target).length === 0) {
				movewrap.hide();
			}
		});
	}
</script>
<div class="wrap">
	<div class="contents_wrap">
		<div class="page_title">
			<div class="page_name_area"><h1>박물관 이벤트</h1></div>
		</div>
	</div>
		<!-- 게시글(카드보기) div -->
		<div class="cardList_wrap">
			<div class="detail_wrap">
				<!-- 요약내용  -->
				<div class="detail_summary">
					<div class="summary_poster">
						<img id="poster" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/event-folder/' +${event.event_poster}}" alt="poster_img">
					</div>
					<div class="summary_info">
						<div class="summary_title">
							<p>[(${event.event_title})]</p>
						</div>
						<div class="summary_content">
							<div class="content_left">
								<li>일시</li>
								<li>장소</li>
								<li>관람방법</li>
								<li>문의</li>
							</div>
							<div class="content_right">
								<li>[(${event.event_date})]</li>
								<li>[(${event.event_place})]</li>
								<li>[(${event.event_method})]</li>
								<li>[(${event.event_contact})]</li>
							</div>
						</div>
						<div class="screening_comment" th:if="${event.event_screeningCheck != 0}">
								상영은 정시에 시작되며 시작 10분 후에는 입장이 제한됩니다. <br>
								영상홀 내부 음식물 반입은 금지입니다. <br>
								주차 50% 할인권을 제공합니다. <br>
								(주차요금: 2시간 이내 500원/10분, 2시간 초과 이후 750원/10분)
						</div>
					</div>
				</div>
				<!-- 하단 상세내용(상단 요약내용과 width 다름) -->
				<div class="detail_content">
					<div class="bottom_wrap">
						<div class="content_area">
							<textarea name="news_content" id="news_content" spellcheck="false" disabled>[(${event.event_content})]</textarea>
						</div>
						<div class="poster_area">
							<img id="poster_big" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/event-folder/' +${event.event_poster}}" alt="poster_img">
						</div>
						<div class="image_area" th:if="${eventFileList != ''}">
							<li th:each="img : ${eventFileList}" class="img_div">
								<img id="img_file" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/event-folder/' +${img.file_name}}" alt="img_file" th:if="${#strings.substringAfter(img.file_name, '.')} != 'mp4'">
								<video id="video_file" th:src="@{'https://busanbom.s3.ap-northeast-2.amazonaws.com/event-folder/' +${img.file_name}}" alt="video_file" controls th:if="${#strings.substringAfter(img.file_name, '.')} == 'mp4'"></video>
							</li>
						</div>
						<div class="video_area" th:if="${event.event_link1 != '' || event.event_link2 != ''}">
							<div th:if="${event.event_link1 != ''}" id="video">[(${event.event_link1})]</div>
							<div th:if="${event.event_link2 != ''}" id="video">[(${event.event_link2})]</div>
						</div>
					</div>
				</div>
					<div class="button_area">
						<input type="button" class="list_btn" value="목록" onclick="location.href='museum_eventList'">
					</div>
			</div>
		</div>
</body>
</html>