<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="css/qnaInsert.css">
    <title>부산영화체험박물관 | Q&amp;A</title>
    <script src="/js/common.js"></script>
    
    <script>
		$(function(){
			$('#question_content').height( $('#question_content').prop('scrollHeight') );
			$('#answer_content').height( $('#answer_content').prop('scrollHeight') );
		})
	</script>
</head>
<body>
<div th:replace="/head :: head">

</div>
<div class="gnb_bar">
    <ul class="gnb_wrap">
        <a href="/"><li class="home_btn"><img src="/imgs/home_icon.png"></li></a>
        <li class="div_bar">|</li>
        <li class="category_1" onclick="drop_gnb(1)">소통<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_2" onclick="drop_gnb(2)">Q&A<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
<!--         <li class="category_3" onclick="drop_gnb(3)">박물관 이벤트<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li> -->
<!--         <li class="div_bar">|</li> -->
    </ul>
</div>

<div class="gnb_bar_drop">
    <ul id="depth_1">
    	<a href="/viewing_guidance"><li>관람정보</li></a>
    	<a href="/experience_zone_3rdFloor"><li>전시</li></a>
    	<a href="/museum_newsList"><li>소통</li></a>
    	<a href="/greetings"><li>박물관소개</li></a>
    </ul>
    
    <ul id="depth_2">
    	<a href="/museum_newsList"><li>공지사항</li></a>
    	<a href="/museum_eventList"><li>이벤트</li></a>
    	<a href="/museum_qnaList"><li>Q&A</li></a>
    	<a href="/faq"><li>자주하는 질문</li></a>
    </ul>
    
<!--     <ul id="depth_3"> -->
<!--     	<a href="/museum_eventList"><li>박물관 이벤트</li></a> -->
<!--     	<a href="/museum_partnerList"><li>제휴안내</li></a> -->
<!--     </ul> -->
</div>
<script>
	function drop_gnb(num){
		$('#depth_'+num).css('display', 'block');
		
		//외부영역 클릭시 드롭메뉴 닫기
		$(document).mouseup(function (e) {
			var movewrap = $('#depth_'+num);
			if (movewrap.has(e.target).length === 0) {
				movewrap.hide();
			}
		});
	}
</script>
<div class="wrap">
	<div class="contents_wrap">
		<div class="page_title_qna">
			<div class="page_name_area"><h1>Q&amp;A</h1></div>
		</div>
	</div>
	<div class="qna_wrap">
		<div class="question_area">
			<div class="question_title_area">
				<div class="question_detail_title">
					<div class="qna_division_q">Q</div>
					[(${question.question_title})]
				</div>
				<div class="question_small_text">
					<p>[(${question.question_writer})]</p>
					<p id="question_div_bar">|</p>
					<p>[(${question.create_date})]</p>
				</div>
			</div>
			<div class="question_content_area">
				<textarea name="question_content" id="question_content" spellcheck="false" disabled>[(${question.question_content})]</textarea>
			</div>
		</div>
		
		<div class="answer_area" th:if="${answer != null}">
			<div class="answer_title_area">
				<div class="answer_detail_title">
					<div class="qna_division_a">A</div>
					[(${answer.answer_title})]
				</div>
				<div class="answer_small_text">
					<p>관리자</p>
					<p id="answer_div_bar">|</p>
					<p>[(${answer.create_date})]</p>
				</div>
			</div>
			<div class="answer_content_area">
				<textarea name="answer_content" id="answer_content" spellcheck="false" disabled>[(${answer.answer_content})]</textarea>
			</div>
		</div>
		<div class="none_answer_area" th:if="${answer == null}">
			<p>답변된 내용이 없습니다.</p>
		</div>
			<div class="btn_wrap_qna">
				<div class="btn_right">
                	<input type="button" id="delete_btn" th:onclick="'delete_modal('+${question.id}+')'" value="삭제">
                	<button type="button" id="update_btn" th:onclick="|location.href='@{museum_qnaUpdate(id=${question.id})}'|">수정</button>
                </div>
            	<button type="button" id="list_btn" onclick="location.href='museum_qnaList'">목록</button>
            </div>
            
             <!-- 삭제 모달 -->
                <div id="delete_modal">
				    <div class="delete_modal_content">
				        <div id="delete_modal_content_wrap">
							<input type="hidden" id="question_id">
						    <div id="modal_content_text">
						    	<p class="delete_title">삭제하시겠습니까?</p>
						    </div>
						    <div id="modal_btn_div">
						    	<button type="button" id="delete_modal_cancel_btn">취소</button>
						    	<button type="button" id="delete_modal_ok_btn">확인</button>
						    </div>
				        </div>
				    </div>
			   		<div class="delete_modal_layer"></div>
				</div>
				
				<script>
						/* 모달창 띄우기 */
						function delete_modal(id){
							document.getElementById("delete_modal").style.display="block";
							$('#question_id').val(id);
						}
						document.getElementById("delete_modal_cancel_btn").onclick = function() {
						    document.getElementById("delete_modal").style.display="none";
						}
						document.getElementById("delete_modal_ok_btn").onclick = function() {
							var id = $('#question_id').val();
							
							//삭제 확인 시, 모달 없애고 문의글 삭제 후 리스트로 이동
							$.ajax({
								url : 'question_delete_one',
								type : 'post',
								data : {id:id},
								success : function(data) {
										alert('삭제되었습니다.');
										location.href = 'museum_qnaList';
								},
								error : function() {
									alert("에러입니다");
								}
							});
						}
					</script>
	</div>
</div>
</body>
</html>