<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/info.css">
    <title>부산영화체험박물관 | 개인정보처리방침</title>
</head>
<body>

<div class="wrap">
	<div class="policy_wrap">
		<div class="top_policy">
			<div class="policy_title">
				<p>개인정보처리방침</p>
			</div>
			<div class="policy_top_txt">
				<p>부산영화체험박물관은(는) 「개인정보 보호법」 제30조에 따라 정보주체의 개인정보를 보호하고</p>
				<p>이와 관련한 고충을 신속하고 원활하게 처리할 수 있도록 하기 위하여 다음과 같이 개인정보 처리방침을 수립·공개합니다.</p>
			</div>
		</div>
		<div class="policy_content">
			<p class="content_rule_title">제1조(개인정보의 처리목적)</p>
			<p class="content_rule_detail">&lt; 부산영화체험박물관 &gt;(이)가 개인정보 보호법 제32조에 따라 등록․공개하는 개인정보파일의 처리목적은 다음과 같습니다.</p>
			<div class="policy_detail_content">
				<p class="content_rule_detail_num">1. 개인정보 파일명 : 예약내역확인</p>
				<p class="content_rule_detail_txt">개인정보의 처리목적 : 단체 및 대관 예약자 확인</p>
				<p class="content_rule_detail_txt">수집방법 : 홈페이지</p>
				<p class="content_rule_detail_txt">보유근거 : 정보주체동의</p>
				<p class="content_rule_detail_txt">보유기간 : 1년</p>
				<p class="content_rule_detail_txt">관련법령 : 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년</p>
			</div>
			<div class="policy_detail_content">
				<p class="content_rule_detail_num">2. 개인정보 파일명 : 민원사무처리</p>
				<p class="content_rule_detail_txt">개인정보의 처리목적 : 민원인의 신원 확인</p>
				<p class="content_rule_detail_txt">수집방법 : 홈페이지</p>
				<p class="content_rule_detail_txt">보유근거 : 정보주체동의</p>
				<p class="content_rule_detail_txt">보유기간 : 3년</p>
				<p class="content_rule_detail_txt">관련법령 : 신용정보의 수집/처리 및 이용 등에 관한 기록 : 3년</p>
			</div>
		</div>
		<div class="policy_content">
			<p class="content_rule_title">제2조(개인정보 영향평가 수행결과)</p>
			<p class="content_rule_detail">부산영화체험박물관은 법령에 따른 개인정보 보유ㆍ이용기간 또는 정보주체로부터 개인정보를 수집시에 동의받은 개인정보 보유ㆍ이용기간 내에서 개인정보를 처리ㆍ보유합니다.</p>
		</div>
		<div class="policy_content">
			<p class="content_rule_title">제3조(개인정보의 제3자 제공에 관한 사항)</p>
			<p class="content_rule_detail">① < 부산영화체험박물관 >은(는) 개인정보를 제1조(개인정보의 처리 목적)에서 명시한 범위 내에서만 처리하며, 정보주체의 동의, 법률의 특별한 규정 등 「개인정보 보호법」 제17조 및 제18조에 해당하는 경우에만 개인정보를 제3자에게 제공합니다.</p>
		</div>
		<div class="policy_content">
			<p class="content_rule_title">제4조(개인정보처리의 위탁에 관한 사항)</p>
			<p class="content_rule_detail">① &lt; 부산영화체험박물관 &gt;은(는) 원활한 개인정보 업무처리를 위하여 다음과 같이 개인정보 처리업무를 위탁하고 있습니다.</p>
			<div class="policy_detail_content">
				<p class="content_rule_detail_txt">1. &lt; 홈페이지 유지보수 &gt;</p>
				<p class="content_rule_detail_txt">위탁받는 자 (수탁자) : 더웰</p>
				<p class="content_rule_detail_txt">위탁하는 업무의 내용 : 홈페이지 유지관리</p>
				<p class="content_rule_detail_txt">위탁기간 :</p>
			</div>
			<p class="content_rule_detail">② &lt; 부산영화체험박물관 &gt;은(는) 위탁계약 체결시 「개인정보 보호법」 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</p>
			<p class="content_rule_detail">③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</p>
		</div>
		<div class="policy_content">
			<p class="content_rule_title">제5조(개인정보의 파기절차 및 파기방법)</p>
			<p class="content_rule_detail">① &lt; 부산영화체험박물관 &gt; 은(는) 원칙적으로 개인정보 처리목적이 달성된 경우에는 지체없이 해당 개인정보를 파기합니다. 다만, 다른 법률에 따라 보존하여야하는 경우에는 그러하지 않습니다. 파기의 절차, 기한 및 방법은 다음과 같습니다.</p>
			<div class="policy_detail_content">
				<p class="detail_process">1. 파기절차</p>
				<p class="detail_process">불필요한 개인정보 및 개인정보파일은 개인정보책임자의 책임 하에 내부방침 절차에 따라 다음과 같이 처리하고 있습니다.</p>
				<p class="detail_list">- 개인정보의 파기보유기간이 경과한 개인정보는 종료일로부터 지체 없이 파기합니다.</p>
				<p class="detail_list">- 개인정보파일의 파기개인정보파일의 처리 목적 달성, 해당 서비스의 폐지, 사업의 종료 등 그 개인정보파일이 불필요하게 되었을 때에는 개인정보의 처리가 불필요한 것으로 인정되는날로부터<br>지체 없이 그 개인정보파일을 파기합니다.</p>
				<p class="detail_list_last">- 접속 로그, 쿠키, 접속 IP 정보, 방문일시, 접속페이지 주소</p>
				
				<p class="detail_process">2. 파기방법</p>
				<p class="detail_process">종이에 출력된 개인정보는 분쇄기로 분쇄하거나 소각을 통하여 파기합니다.</p>
				<p class="detail_process">전자적 파일 형태의 정보는 기록을 재생할 수 없는 기술적 방법을 사용합니다</p>
			</div>
			<p class="content_rule_detail">② &lt; 부산영화체험박물관 &gt;은(는) 위탁계약 체결시 「개인정보 보호법」 제26조에 따라 위탁업무 수행목적 외 개인정보 처리금지, 기술적․관리적 보호조치, 재위탁 제한, 수탁자에 대한 관리․감독, 손해배상 등 책임에 관한 사항을 계약서 등 문서에 명시하고, 수탁자가 개인정보를 안전하게 처리하는지를 감독하고 있습니다.</p>
			<p class="content_rule_detail">③ 위탁업무의 내용이나 수탁자가 변경될 경우에는 지체없이 본 개인정보 처리방침을 통하여 공개하도록 하겠습니다.</p>
		</div>
	</div>
</div>


</body>
</html>