<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="css/reservation.css">
    <title>부산영화체험박물관 | 단체예약-전시관1</title>
    <script type="text/javascript" src="/js/reservation.js"></script>
</head>
<body>
<div th:replace="/head :: head">

</div>
<div class="gnb_bar">
    <ul class="gnb_wrap">
        <li class="home_btn"><img src="/imgs/home_icon.png"></li><li class="div_bar">|</li>
        <li class="category_1">관람정보</li></li><li class="div_bar">|</li>
        <li class="category_2">관람예약</li></li><li class="div_bar">|</li>
        <li class="category_3">단체</li></li><li class="div_bar">|</li>
    </ul>
</div>
<div class="wrap">
	<div class="contents_wrap">
		<div class="page_title">
			<div class="page_name_area"><h1>단체관람예약</h1></div>
		</div>
	</div>
	
		<!-- 전시관 및 방문회차 선택 div -->
		<div class="reservation_wrap">
			<div class="agree_area">
				<div class="agree_contents">
					<div class="agree_title">
						<div>1. 개인정보 수집 및 이용에 동의</div>
					</div>
					<div class="agree_txtbox">
						<div class="text_top">
							&lt;개인정보 수집 및 이용에 대한 안내&gt;
						</div>
						<div class="text_content">
							1. 수집/이용 목적 : 단체예약에 대한 고객요청 처리 및 결과 회신 <br/>
							2. 수집하는 항목 : 이름, 연락처, 주소, 이메일 <br/>
							3. 보유 / 이용 기간 : 고객요청 처리 후 3개월 <br/>
							4. 동의를 거부할 수 있으며, 거부시 이용이 제한될 수 있습니다.
						</div>
					</div>
					<div class="agree_btnArea">
						<input type="checkbox" id="agree_check" name="agree_check">
						<label for="agree_check"></label>
						<div class="agree_text">개인정보의 수집 및 이용에 동의합니다</div>
					</div>
				</div>
			</div>
		<form>
			<input type="hidden" name="choice_date" th:value="${choice_date}">
			<input type="hidden" name="res_visitDate">
		<div class="place_area">
			<div class="place_title">
				<div>2. 관람유형</div>
			</div>
				<div class="place_txtbox">
					<div class="place_btnArea">
						<input type="radio" name="res_theaterCheck" value="1" id="radio_1">
						<label for="radio_1"></label>
						<div>부산영화체험박물관+트릭아이뮤지엄</div>
					</div>
					<div class="place_btnArea">
						<input type="radio" name="res_theaterCheck" value="2" id="radio_2">
						<label for="radio_2"></label>
						<div>부산영화체험박물관</div>
					</div>
				</div>
			</div>
			<div>
				<div th:each="closed : ${closed_list}" class="hidden">	<!-- 휴관일 가져오기-->
					<input type="hidden" th:value="${closed.closed_date}" name="closed_date" >
				</div>
			<div class="time_wrap">
			<div class="calendar_area">
				<div class="sec_cal">
					<div class="cal_nav">
				    	<a href="javascript:;" class="nav-btn go-prev">prev</a>
				    	<div class="year-month"></div>
				    	<a href="javascript:;" class="nav-btn go-next">next</a>
				    </div>
				    <div class="cal_wrap">
					    <div class="days">
					      	<div class="day">일</div>
					    	<div class="day">월</div>
					      	<div class="day">화</div>
					      	<div class="day">수</div>
					      	<div class="day">목</div>
					      	<div class="day">금</div>
					      	<div class="day">토</div>
					    </div>
				    	<div class="dates"></div>
				  	</div>
				</div>
			</div>
			<div class="turnTable_area">
				<div class="table_contents">
					<div class="date_inform">
						<div th:if="${choice_date != ''}" th:text="${choice_date}" class="choice_title"></div>
						<div th:if="${choice_date == ''}" th:text="${today}" class="today_title"></div>
					</div>
					<ul class="time_list">
						<ol id="top_ol">
						<div class="time_num"><li>회차</li></div>
						<div class="visit_time"><li>시간</li></div>
						<div class="limit_num"><li>잔여인원</li></div>
						<div class="res_btn"><li>예약현황</li></div>
						</ol>
						
						<ol id="time_data">
							<div class="time_info" th:if="${status_1 == 1}">
								<div class="time_num"><li>1회차</li></div>
								<div class="visit_time"><li th:text="${time_1}"></li></div>
								<div class="limit_num"><li th:text="${limit_1 - total_1}+'/'+${limit_1}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="1" id="time_1">
									<label for="time_1" th:if="${limit_1 - total_1} != 0" class="res_able">예약하기</label>
									<label for="time_1" th:if="${limit_1 - total_1} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_2 == 1}">
								<div class="time_num"><li>2회차</li></div>
								<div class="visit_time"><li th:text="${time_2}"></li></div>
								<div class="limit_num"><li th:text="${limit_2 - total_2}+'/'+${limit_2}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="2" id="time_2">
									<label for="time_2" th:if="${limit_2 - total_2} != 0" class="res_able">예약하기</label>
									<label for="time_2" th:if="${limit_2 - total_2} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_3 == 1}">
								<div class="time_num"><li>3회차</li></div>
								<div class="visit_time"><li th:text="${time_3}"></li></div>
								<div class="limit_num"><li th:text="${limit_3 - total_3}+'/'+${limit_3}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="3" id="time_3">
									<label for="time_3" th:if="${limit_3 - total_3} != 0" class="res_able">예약하기</label>
									<label for="time_3" th:if="${limit_3 - total_3} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_4 == 1}">
								<div class="time_num"><li>4회차</li></div>
								<div class="visit_time"><li th:text="${time_4}"></li></div>
								<div class="limit_num"><li th:text="${limit_4 - total_4}+'/'+${limit_4}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="4" id="time_4">
									<label for="time_4" th:if="${limit_4 - total_4} != 0" class="res_able">예약하기</label>
									<label for="time_4" th:if="${limit_4 - total_4} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_5 == 1}">
								<div class="time_num"><li>5회차</li></div>
								<div class="visit_time"><li th:text="${time_5}"></li></div>
								<div class="limit_num"><li th:text="${limit_5 - total_5}+'/'+${limit_5}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="5" id="time_5">
									<label for="time_5" th:if="${limit_5 - total_5} != 0" class="res_able">예약하기</label>
									<label for="time_5" th:if="${limit_5 - total_5} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_6 == 1}">
								<div class="time_num"><li>6회차</li></div>
								<div class="visit_time"><li th:text="${time_6}"></li></div>
								<div class="limit_num"><li th:text="${limit_6 - total_6}+'/'+${limit_6}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="6" id="time_6">
									<label for="time_6" th:if="${limit_6 - total_6} != 0" class="res_able">예약하기</label>
									<label for="time_6" th:if="${limit_6 - total_6} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_7 == 1}">
								<div class="time_num"><li>7회차</li></div>
								<div class="visit_time"><li th:text="${time_7}"></li></div>
								<div class="limit_num"><li th:text="${limit_7 - total_7}+'/'+${limit_7}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="7" id="time_7">
									<label for="time_7" th:if="${limit_7 - total_7} != 0" class="res_able">예약하기</label>
									<label for="time_7" th:if="${limit_7 - total_7} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_8 == 1}">
								<div class="time_num"><li>8회차</li></div>
								<div class="visit_time"><li th:text="${time_8}"></li></div>
								<div class="limit_num"><li th:text="${limit_8 - total_8}+'/'+${limit_8}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="8" id="time_8">
									<label for="time_8" th:if="${limit_8 - total_8} != 0" class="res_able">예약하기</label>
									<label for="time_8" th:if="${limit_8 - total_8} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_9 == 1}">
								<div class="time_num"><li>9회차</li></div>
								<div class="visit_time"><li th:text="${time_9}"></li></div>
								<div class="limit_num"><li th:text="${limit_9 - total_9}+'/'+${limit_9}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="9" id="time_9">
									<label for="time_9" th:if="${limit_9 - total_9} != 0" class="res_able">예약하기</label>
									<label for="time_9" th:if="${limit_9 - total_9} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_10 == 1}">
								<div class="time_num"><li>10회차</li></div>
								<div class="visit_time"><li th:text="${time_10}"></li></div>
								<div class="limit_num"><li th:text="${limit_10 - total_10}+'/'+${limit_10}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="10" id="time_10">
									<label for="time_10" th:if="${limit_10 - total_10} != 0" class="res_able">예약하기</label>
									<label for="time_10" th:if="${limit_10 - total_10} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_11 == 1}">
								<div class="time_num"><li>11회차</li></div>
								<div class="visit_time"><li th:text="${time_11}"></li></div>
								<div class="limit_num"><li th:text="${limit_11 - total_11}+'/'+${limit_11}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="11" id="time_11">
									<label for="time_11" th:if="${limit_11 - total_11} != 0" class="res_able">예약하기</label>
									<label for="time_11" th:if="${limit_11 - total_11} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_12 == 1}">
								<div class="time_num"><li>12회차</li></div>
								<div class="visit_time"><li th:text="${time_12}"></li></div>
								<div class="limit_num"><li th:text="${limit_12 - total_12}+'/'+${limit_12}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="12" id="time_12">
									<label for="time_12" th:if="${limit_12 - total_12} != 0" class="res_able">예약하기</label>
									<label for="time_12" th:if="${limit_12 - total_12} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_13 == 1}">
								<div class="time_num"><li>13회차</li></div>
								<div class="visit_time"><li th:text="${time_13}"></li></div>
								<div class="limit_num"><li th:text="${limit_13 - total_13}+'/'+${limit_13}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="13" id="time_13">
									<label for="time_13" th:if="${limit_13 - total_13} != 0" class="res_able">예약하기</label>
									<label for="time_13" th:if="${limit_13 - total_13} == 0" class="res_unable">매진</label>
								</div>
							</div>
							<div class="time_info" th:if="${status_14 == 1}">
								<div class="time_num"><li>14회차</li></div>
								<div class="visit_time"><li th:text="${time_14}"></li></div>
								<div class="limit_num"><li th:text="${limit_14 - total_14}+'/'+${limit_14}+'명'"></li></div>
								<div class="res_btn">
									<input type="radio" name="res_visitNum" value="14" id="time_14">
									<label for="time_14" th:if="${limit_14 - total_14} != 0" class="res_able">예약하기</label>
									<label for="time_14" th:if="${limit_14 - total_14} == 0" class="res_unable">매진</label>
								</div>
							</div>
						</ol>
					</ul>
				</div>
			</div>
			</div>
			<div class="button_area">
				<div>
					<input type="button" value="확인" class="submit_btn" id="date_submit">
				</div>
			</div>
		</div>
		
		<!-- info 작성 div -->
		<div class="reservation_wrap_info">
		
		</div>
	</form>
</div>
<script>
    $(document).ready(function() {
        calendarInit();
    });
    /*
        달력 렌더링 할 때 필요한 정보 목록 

        현재 월(초기값 : 현재 시간)
        금월 마지막일 날짜와 요일
        전월 마지막일 날짜와 요일
    */

    function calendarInit() {

        // 날짜 정보 가져오기
        var date = new Date(); // 현재 날짜(로컬 기준) 가져오기
        var utc = date.getTime() + (date.getTimezoneOffset() * 60 * 1000); // uct 표준시 도출
        var kstGap = 9 * 60 * 60 * 1000; // 한국 kst 기준시간 더하기
        var today = new Date(utc + kstGap); // 한국 시간으로 date 객체 만들기(오늘)
      
        var thisMonth = new Date(today.getFullYear(), today.getMonth(), today.getDate());
        // 달력에서 표기하는 날짜 객체
      
        
        var currentYear = thisMonth.getFullYear(); // 달력에서 표기하는 연
        var currentMonth = thisMonth.getMonth(); // 달력에서 표기하는 월
        var currentDate = thisMonth.getDate(); // 달력에서 표기하는 일

        // kst 기준 현재시간
        // console.log(thisMonth);

        // 캘린더 렌더링
        renderCalender(thisMonth);

        function renderCalender(thisMonth) {

            // 렌더링을 위한 데이터 정리
            currentYear = thisMonth.getFullYear();
            currentMonth = thisMonth.getMonth();
            currentDate = thisMonth.getDate();

            // 이전 달의 마지막 날 날짜와 요일 구하기
            var startDay = new Date(currentYear, currentMonth, 0);
            var prevDate = startDay.getDate();
            var prevDay = startDay.getDay();

            // 이번 달의 마지막날 날짜와 요일 구하기
            var endDay = new Date(currentYear, currentMonth + 1, 0);
            var nextDate = endDay.getDate();
            var nextDay = endDay.getDay();

            // console.log(prevDate, prevDay, nextDate, nextDay);

            // 현재 월 표기
            $('.year-month').text(currentYear + '년 ' + (currentMonth + 1) + '월');

            // 렌더링 html 요소 생성
            calendar = document.querySelector('.dates')
            calendar.innerHTML = '';
            
            // 지난달
            for (var i = prevDate - prevDay; i <= prevDate; i++) {
                calendar.innerHTML = calendar.innerHTML + '<div class="day prev disable">' + i + '</div>'
            }
            // 이번달
            for (var i = 1; i <= nextDate; i++) {
            	if(currentYear < today.getFullYear()){
	                calendar.innerHTML = calendar.innerHTML + '<div class="day disable"><div id="choice_'+i+'">' + i + '</div></div>'
            	}else if((currentYear == today.getFullYear()) && (currentMonth < today.getMonth())){
            		calendar.innerHTML = calendar.innerHTML + '<div class="day disable"><div id="choice_'+i+'">' + i + '</div></div>'
            	}else{
            		calendar.innerHTML = calendar.innerHTML + '<div class="day current"><div class="dayStyle" onclick="calendarClick(' + i + ')" id="choice_'+i+'">' + i + '</div></div>'
            	}
            }
            // 다음달
            for (var i = 1; i <= (7 - nextDay == 7 ? 0 : 7 - nextDay-1); i++) {
                calendar.innerHTML = calendar.innerHTML + '<div class="day next disable">' + i + '</div>'
            }

            // 오늘 날짜 표기
            if (today.getMonth() == currentMonth) {
                todayDate = today.getDate();
                var currentMonthDate = document.querySelectorAll('.dates .current');
                currentMonthDate[todayDate -1].classList.add('today');
            }
            
            //지나간 날짜 disable
            var getyear = today.getFullYear();
            var getmonth = today.getMonth() + 1;
            
            if(currentYear < getyear){
            	
            }
            closed_set();
        }

        // 이전달로 이동
        $('.go-prev').on('click', function() {
            thisMonth = new Date(currentYear, currentMonth - 1, 1);
            renderCalender(thisMonth);
        });

        // 다음달로 이동
        $('.go-next').on('click', function() {
            thisMonth = new Date(currentYear, currentMonth + 1, 1);
            renderCalender(thisMonth); 
        });
        
        function closed_set(){ //휴관일 및 선택한 날짜 set
			
	        currentYear = thisMonth.getFullYear();
	        currentMonth = thisMonth.getMonth();
	        currentDate = thisMonth.getDate();
	        
	        var date_arrayLength = $('input[name="closed_date"]').length;
	        var date_array = new Array(date_arrayLength);
	        // 이번 달의 마지막날 날짜와 요일 구하기
	        var endDay = new Date(currentYear, currentMonth + 1, 0);
	        var nextDate = endDay.getDate();
	        
	        for(i=0; i<date_arrayLength; i++){ //휴관일 배열 for문 돌리면서 표시
				date_array[i] = $('input[name="closed_date"]').eq(i).val();
				
		        var closed_month = date_array[i].substr(0,7);
		        var closed_day = date_array[i].substr(8);
		        var this_month = currentMonth;
		        
		        if((this_month+1) < 10){
					var current_month = currentYear + ".0" + (this_month+1);
				}else{
			        var current_month = currentYear + "." + (this_month+1);
				}
		            	
		        if(closed_month == current_month){ //해당 월에 휴관일 있으면 표시
		        	for (var j = 1; j <= nextDate; j++) {
			        	if(closed_day == j){ //휴관일날짜에 해당하는 div에 text
				        	$("div[id='choice_"+j+"']").attr('class','disable');
				        	$("div[id='choice_"+j+"']").removeAttr("onclick");
						}
			        }
				}
		        
			}
	        
		        var choice = $('input[name=choice_date]').val();
		        var choice_date = choice.substr(8);
		        
		        if(choice != ""){
		        	choiceDate(choice_date);
		        }
		}
    }
    
    function choiceDate(choiceDay) {
    	$('div').not('div [id="choice_'+choiceDay+'"]').removeClass('choiceDay');
    	$('div [id="choice_'+choiceDay+'"]').attr('class','choiceDay');
    	
    	var res_day = choiceDay;
    	var res_choiceDate = $('.year-month').text();
    	var res_year = res_choiceDate.substr(0,4);
    	var res_month = res_choiceDate.substr(6,7);//'8월' 한 덩어리로 가져옴
    	
    	var month_choice = res_month.split('월');//'월' 문자 기준으로 잘라서
    	res_month = month_choice[0];//변수에 담아
    	
    	if(res_day < 10){
    		res_day = "0"+res_day;
    	}
    	if(res_month.length < 2){ //db에 날짜 '2023.08.01'형식으로 담기 위한 포맷
    		res_month = "0"+res_month;
    	}
    	
    	var choice_date = res_year+'년 '+res_month + '월 ' + res_day + '일';
		var res_date2 = res_year+'-'+res_month + '-' + res_day;
    	
    	var dayOfWeek = new Date(res_date2).getDay();
    	var dayOfWeek_str;
    	
    	if(dayOfWeek == 0){dayOfWeek_str = '일';}
    	else if(dayOfWeek == 1){dayOfWeek_str = '월';}
    	else if(dayOfWeek == 2){dayOfWeek_str = '화';}
    	else if(dayOfWeek == 3){dayOfWeek_str = '수';}
    	else if(dayOfWeek == 4){dayOfWeek_str = '목';}
    	else if(dayOfWeek == 5){dayOfWeek_str = '금';}
    	else if(dayOfWeek == 6){dayOfWeek_str = '토';}
    	
    	$('div[class=choice_title]').text(choice_date+" ("+dayOfWeek_str+") 예약현황");
    }
    
    function calendarClick(choiceDay) {
    	console.log(choiceDay);
    	$('div').not('div [id="choice_'+choiceDay+'"]').removeClass('choiceDay');
    	$('div [id="choice_'+choiceDay+'"]').attr('class','choiceDay');
    	
    	var res_day = choiceDay;
    	var res_choiceDate = $('.year-month').text();
    	var res_year = res_choiceDate.substr(0,4);
    	var res_month = res_choiceDate.substr(6,7);//'8월' 한 덩어리로 가져옴
    	
    	var month_choice = res_month.split('월');//'월' 문자 기준으로 잘라서
    	res_month = month_choice[0];//변수에 담아
    	
    	if(res_day < 10){
    		res_day = "0"+res_day;
    	}
    	if(res_month.length < 2){ //db에 날짜 '2023.08.01'형식으로 담기 위한 포맷
    		res_month = "0"+res_month;
    	}
    	
    	var choice_date = res_year+'.'+res_month + '.' + res_day;
    	
    	// 선택한 예약날짜 표기
        $('input[name=res_visitDate]').val(choice_date);
        
	        $.ajax({
				url : "/reservation_group_date",
				type : 'get',
				data : {
						choice_date:choice_date
						},
				success : function (data) {
	                window.location.href="/reservation_group_date?choice_date="+choice_date;
	            }
			});
    }
</script>
</body>
</html>