<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="http://code.jquery.com/jquery-3.6.0.js"></script>
    <link rel="stylesheet" href="css/reservation.css">
    <title>부산영화체험박물관 | 대관예약</title>
    <script type="text/javascript" src="/js/reservation.js"></script>
</head>
<body>
<div th:replace="/head :: head">

</div>
<div class="gnb_bar">
    <ul class="gnb_wrap">
        <li class="home_btn"><img src="/imgs/home_icon.png"></li><li class="div_bar">|</li>
        <li class="category_1">관람정보</li></li><li class="div_bar">|</li>
        <li class="category_2">대관안내</li></li><li class="div_bar">|</li>
        <li class="category_3">대관예약</li></li><li class="div_bar">|</li>
    </ul>
</div>
<div class="wrap">
	<div class="contents_wrap">
		<div class="page_title">
			<div class="page_name_area"><h1>대관예약</h1></div>
		</div>
	</div>
		<!-- 대관예약 안내 -->
		<div class="reservation_wrap">
			<div class="guide_area">
				<div class="guide_title">
					<div>대관시설</div>
				</div>
				<div class="facility_img_area">
					<div class="left_videohall">
						<img src="/imgs/video_hall.jpeg">
						<div class="videohall_text">
							<p class="area_name">다목적영상홀</p>
							<p class="area_info">면적 : 308㎡  /  좌석수 : 210석(장애인석 3석 포함)</p>
						</div>
					</div>
					<div class="right_lectureroom">
						<img src="/imgs/lecture_room.JPG">
						<div class="lectureroom_text">
							<p class="area_name">강의실</p>
							<p class="area_info">면적 : 96㎡ / 좌석수 : 30석</p>
						</div>
					</div>
				</div>
			</div>
			<div class="guide_area">
				<div class="calendar_title">
					<div>대관현황</div>
				</div>
				<div class="facility_calendar">
					<!-- 대관현황 캘린더 -->
					<input type="hidden" name="today_date" th:value="${today}">
					<div th:each="closed : ${closed_list}" class="hidden">	<!-- 휴관일 가져오기-->
						<input type="hidden" th:value="${closed.closed_date}" name="closed_date" >
					</div>
					<div th:each="facility : ${facility_list}" class="hidden">	<!-- 예약확정 리스트 가져오기-->
						<input type="hidden" th:value="${facility.res_visitDate}" name="facility_date" th:class="'date_'+${facility.id}">
						<input type="hidden" th:value="${facility.res_visitNum}" name="facility_num" th:class="'num_'+${facility.id}">
						<input type="hidden" th:value="${facility.res_placeCheck}" name="facility_place" th:class="'place_'+${facility.id}">
					</div>
					<div class="calendar_area_f">
						<div class="sec_cal_f">
							<div class="cal_nav">
						    	<a href="javascript:;" class="nav-btn go-prev"><img src="/imgs/calendar_prev.svg"></a>
						    	<div class="year-month"></div>
						    	<a href="javascript:;" class="nav-btn go-next"><img src="/imgs/calendar_next.svg"></a>
						    </div>
						    <div class="cal_wrap">
							    <div class="days">
							      	<div class="day">일요일</div>
							    	<div class="day">월요일</div>
							      	<div class="day">화요일</div>
							      	<div class="day">수요일</div>
							      	<div class="day">목요일</div>
							      	<div class="day">금요일</div>
							      	<div class="day">토요일</div>
							    </div>
						    	<div class="dates"></div>
						  	</div>
						</div>
					</div>
				</div>
				<div class="guide_content">
					<li>대관문의 : 051-715-4201 (문의 가능 시간 : 화~토 10:00-18:00)</li>
					<li>대관을 희망하는 일로부터 일주일(7일)전에 신청 및 승인 절차가 완료되어야 합니다.</li>
					<li>박물관 정기 휴관일 대관 불가</li>
					<li>정기휴관일 : 월요일(단, 월요일이 공휴일일 경우 그 다음날), 1월 1일, 설·추석 당일</li>
				</div>
			</div>
			<div class="guide_area">
				<div class="guide_title">
					<div>대관 신청방법</div>
				</div>
				<div class="method_content">
					<div class="method_list_wrap">
						<div class="num_list">
							<div class="num_div">1</div>
							<div class="method_text">
								<p>대관현황에서 대관을 희망하는 날짜 가능 여부 확인 후 신청서를 다운로드 받아 작성해주시기 바랍니다.</p>
								<p class="gray_text">* 대관현황은 실시간 업데이트됩니다.</p>
							</div>
						</div>
						<div class="num_list">
							<div class="num_div">2</div>
							<div class="method_text">
								<p>대관신청서 검토 후 절차 진행을 위해 담당자가 연락드립니다.</p>
								<p class="gray_text">※ 대관신청서 작성이 미비할 시 대관진행이 어려울 수 있습니다.</p>
							</div>
						</div>
						<div class="num_list">
							<div class="num_div">3</div>
							<p>대관 승인이 결정되면 대관승인서를 발송해드립니다.</p>
						</div>
						<div class="num_list">
							<div class="num_div">4</div>
							<div class="method_text">
								<p>대관 결제는 대관 당일 사용 전 매표소에서 결제를 완료바랍니다.</p>
								<p class="gray_text">* 2층 매표소 운영시간 10:00-18:00</p>
							</div>
						</div>
					</div>
					<div class="download_btn_area">
						<button id="download_button" onclick="location.href='/download_facility_document'">
							<img src="/imgs/download_btn_white.png">
							대관신청서 양식 다운로드
						</button>
					</div>
				</div>
			</div>
			<div class="guide_area_last">
				<div class="guide_title">
					<div>대관 유의사항</div>
				</div>
				<div class="rule_content">
					<li>대관신청의 시기는 대관을 희망하는 일시로부터 일주일(7일)전까지 가능합니다.</li>
					<li>사용시간의 기산은 박물관 대관규정 「제16조 4항」 에 의거하여 인원출입 또는 시설물 반입이 최초로 이루어진 때로 하며,<br><p>사용 종료시점은 사용 후 원상복구가 종료되는 때로 정합니다.</p></li>
					<li>대관시설에 대한 공공요금은 실비로 정산하며, 발생한 폐기물은 모두 수거하여 직접 처리하셔야 합니다.</li>
					<li>관계자용 무료주차권은 3매까지만 제공 가능하며, 그 외 대관시설 이용객 차량은 50% 주차할인권을 제공합니다.<br><p>또한, 부산영화체험박물관 운영시간(10:00~18:00)을 초과하는 야간(18:00~21:00) 대관 시 주차장 사용에 별도 협의가 필요합니다.</p></li>
					<li>문서 출력, 소모품 등 대관 계약 이외의 기타 지원은 불가합니다.</li>
					<div class="rule_bottom">
						<p>※ 대관에 대한 보다 자세한 사항은 우측 [대관규정 확인하기]버튼을 클릭하여 참고해주시기 바랍니다.</p>
						<button class="rule_btn" onclick="rule_modal()">대관규정 확인하기</button>
					</div>
				</div>
				<div class="rule_check_area">
						<input type="checkbox" id="rule_check" name="rule_check">
						<label for="rule_check"></label>
						<div class="rule_text">대관 유의사항을 확인하였습니다.</div>
						<div class="rule_small_text">*유의사항 확인 후 동의함에 체크를 해야 대관 신청이 가능합니다.</div>
					</div>
			</div>
			<div class="facility_btn_area">
				<div class="button_wrap">
					<button id="facility_button_disable">
						대관 신청하기
					</button>
					<button id="facility_button_able" onclick="location.href='/reservation_facilities_date'">
						대관 신청하기
					</button>
				</div>
			</div>
			
			<script>
				$('input[name=rule_check]').change(function() {
					if($('input[name=rule_check]').is(":checked")) {
						$('#facility_button_disable').attr('style', 'display:none');
						$('#facility_button_able').attr('style', 'display:block');
					}else{
						$('#facility_button_disable').attr('style', 'display:block');
						$('#facility_button_able').attr('style', 'display:none');
					}
		        });
			</script>
			<script>
    $(document).ready(function() {
        calendarInit();
    });
    /*
        달력 렌더링 할 때 필요한 정보 목록 

        현재 월(초기값 : 현재 시간)
        금월 마지막일 날짜와 요일
        전월 마지막일 날짜와 요일
    */

    function calendarInit() {

        // 날짜 정보 가져오기
        var date = new Date(); // 현재 날짜(로컬 기준) 가져오기
        var utc = date.getTime() + (date.getTimezoneOffset() * 60 * 1000); // uct 표준시 도출
        var kstGap = 9 * 60 * 60 * 1000; // 한국 kst 기준시간 더하기
        var today = new Date(utc + kstGap); // 한국 시간으로 date 객체 만들기(오늘)
      
        var thisMonth = new Date(today.getFullYear(), today.getMonth(), today.getDate());
        // 달력에서 표기하는 날짜 객체
      
        
        var currentYear = thisMonth.getFullYear(); // 달력에서 표기하는 연
        var currentMonth = thisMonth.getMonth(); // 달력에서 표기하는 월
        var currentDate = thisMonth.getDate(); // 달력에서 표기하는 일

        // kst 기준 현재시간
        // console.log(thisMonth);

        // 캘린더 렌더링
        renderCalender(thisMonth);

        function renderCalender(thisMonth) {

            // 렌더링을 위한 데이터 정리
            currentYear = thisMonth.getFullYear();
            currentMonth = thisMonth.getMonth();
            currentDate = thisMonth.getDate();

            // 이전 달의 마지막 날 날짜와 요일 구하기
            var startDay = new Date(currentYear, currentMonth, 0);
            var prevDate = startDay.getDate();
            var prevDay = startDay.getDay();

            // 이번 달의 마지막날 날짜와 요일 구하기
            var endDay = new Date(currentYear, currentMonth + 1, 0);
            var nextDate = endDay.getDate();
            var nextDay = endDay.getDay();

            // console.log(prevDate, prevDay, nextDate, nextDay);

            // 현재 월 표기
            $('.year-month').text(currentYear + '년 ' + (currentMonth + 1) + '월');

            // 렌더링 html 요소 생성
            calendar = document.querySelector('.dates')
            calendar.innerHTML = '';
            
            // 지난달
            for (var i = prevDate - prevDay; i <= prevDate; i++) {
                calendar.innerHTML = calendar.innerHTML + '<div class="day prev disable"></div>'
            }
            // 이번달
            for (var i = 1; i <= nextDate; i++) {
            	if(currentYear < today.getFullYear()){
	                calendar.innerHTML = calendar.innerHTML + '<div class="day disable"><div class="dayStyle_f" id="choice_'+i+'">' + i + '</div><div class="res_list_'+i+'"></div></div>'
            	}else if((currentYear == today.getFullYear()) && (currentMonth < today.getMonth())){
            		calendar.innerHTML = calendar.innerHTML + '<div class="day disable"><div class="dayStyle_f" id="choice_'+i+'">' + i + '</div><div class="res_list_'+i+'"></div></div>'
            	}else{
            		calendar.innerHTML = calendar.innerHTML + '<div class="day current"><div class="dayStyle_f" id="choice_'+i+'">' + i + '</div><div class="res_list_'+i+'"></div></div>'
            	}
            }
            // 다음달
            for (var i = 1; i <= (7 - nextDay == 7 ? 0 : 7 - nextDay-1); i++) {
                calendar.innerHTML = calendar.innerHTML + '<div class="day next disable"></div>'
            }

            // 오늘 날짜 표기
            if (today.getMonth() == currentMonth) {
                todayDate = today.getDate();
                var currentMonthDate = document.querySelectorAll('.dates .current');
                currentMonthDate[todayDate -1].classList.add('today');
            }
            
            //지나간 날짜 disable
            var getyear = today.getFullYear();
            var getmonth = today.getMonth() + 1;
            
            var toDate = $('input[name=today_date]').val();
            var toDate_year = toDate.substr(0,4)
            var toDate_month = getmonth;
		    var toDate_day = toDate.substr(8);
		    
		    if(toDate_month < 10){
				var current_month = "0" + toDate_month;
			}else{
			    var current_month = toDate_month;
			}
		        
            closed_set();
        }

        // 이전달로 이동
        $('.go-prev').on('click', function() {
            thisMonth = new Date(currentYear, currentMonth - 1, 1);
            renderCalender(thisMonth);
        });

        // 다음달로 이동
        $('.go-next').on('click', function() {
            thisMonth = new Date(currentYear, currentMonth + 1, 1);
            renderCalender(thisMonth); 
        });
        
        function closed_set(){ //휴관일 및 예약확정 set
			
	        currentYear = thisMonth.getFullYear();
	        currentMonth = thisMonth.getMonth();
	        currentDate = thisMonth.getDate();
	        
	        //휴관일 set
	        var date_arrayLength = $('input[name="closed_date"]').length;
	        var date_array = new Array(date_arrayLength);
	        // 이번 달의 마지막날 날짜와 요일 구하기
	        var endDay = new Date(currentYear, currentMonth + 1, 0);
	        var nextDate = endDay.getDate();
	        
	        for(i=0; i<date_arrayLength; i++){ //휴관일 배열 for문 돌리면서 표시
				date_array[i] = $('input[name="closed_date"]').eq(i).val();
				
		        var closed_month = date_array[i].substr(0,7);
		        var closed_day = date_array[i].substr(8);
		        var this_month = currentMonth;
		        
		        if((this_month+1) < 10){
					var current_month = currentYear + ".0" + (this_month+1);
				}else{
			        var current_month = currentYear + "." + (this_month+1);
				}
		            	
		        if(closed_month == current_month){ //해당 월에 휴관일 있으면 표시
		        	for (var j = 1; j <= nextDate; j++) {
			        	if(closed_day == j){ //휴관일날짜에 해당하는 div에 text
				        	$("div[id='choice_"+j+"']").attr('class','closed');
						}
			        }
				}
		        
			}
	        
	        //예약확정 set
	        var res_arrayLength = $('input[name="facility_date"]').length;
	        var res_array = new Array(res_arrayLength); //예약날짜
	        var num_array = new Array(res_arrayLength); //예약회차
	        var place_array = new Array(res_arrayLength); //예약장소
	        // 이번 달의 마지막날 날짜와 요일 구하기
	        var endDay = new Date(currentYear, currentMonth + 1, 0);
	        var nextDate = endDay.getDate();
	        
	        for(i=0; i<res_arrayLength; i++){ //예약확정 리스트 배열 for문 돌리면서 표시
	        	res_array[i] = $('input[name="facility_date"]').eq(i).val();
	        	num_array[i] = $('input[name="facility_num"]').eq(i).val();
	        	place_array[i] = $('input[name="facility_place"]').eq(i).val();
	        	debugger;
				
		        var res_month = res_array[i].substr(0,7);
		        var res_day = res_array[i].substr(8);
		        var this_month = currentMonth;
		        
		        if((this_month+1) < 10){
					var current_month = currentYear + ".0" + (this_month+1);
				}else{
			        var current_month = currentYear + "." + (this_month+1);
				}
		            	
		        if(res_month == current_month){ //해당 월에 예약정보 있으면 표시
		        	for (var j = 1; j <= nextDate; j++) {
			        	if(res_day == j){ //예약날짜에 해당하는 div에 text
			        		
			        		//예약시간 set
			        		var res_number = "";
			        		var res_time = ""; 
			        		if(num_array[i] == 1){
			        			res_number = "오전";
			        			res_time = "09:00-12:00";
			        		}else if(num_array[i] == 2){
			        			res_number = "오후";
			        			res_time = "13:00-17:00";
			        		}else if(num_array[i] == 3){
			        			res_number = "야간";
			        			res_time = "18:00-21:00";
			        		}
			        		
			        		var res_place = "";
			        		if(place_array[i] == 1){
			        			res_place = "강의실";
			        		}else if(place_array[i] == 2){
			        			res_place = "영상홀";
			        		}
			        		
			        		var html_1 = ""; //1:오전
			        	       html_1 += "<div id='resTr_" + j + "'>";
			        	       html_1 += "    <div class='res_con'>";
			        	       html_1 += "		<div class='resNum_1'>"+res_number + "</div>" 
			        	               + "		<div class='resTime'>"+res_time + "</div>"
			        	               + "		<div class='resPlace'>"+res_place + "</div>"
			        	       html_1 += "    </div>"
			        	       html_1 += "</div>"
			        	       
			        	       
			        	     var html_2 = ""; //2:오후
			        	       html_2 += "<div id='resTr_" + j + "'>";
			        	       html_2 += "    <div class='res_con'>";
			        	       html_2 += "		<div class='resNum_2'>"+res_number + "</div>" 
			        	               + "		<div class='resTime'>"+res_time + "</div>"
			        	               + "		<div class='resPlace'>"+res_place + "</div>"
			        	       html_2 += "    </div>"
			        	       html_2 += "</div>" 
			        	       
			        	     var html_3 = ""; //3:야간
			        	       html_3 += "<div id='resTr_" + j + "'>";
			        	       html_3 += "    <div class='res_con'>";
			        	       html_3 += "		<div class='resNum_3'>"+res_number + "</div>" 
			        	               + "		<div class='resTime'>"+res_time + "</div>"
			        	               + "		<div class='resPlace'>"+res_place + "</div>"
			        	       html_3 += "    </div>"
			        	       html_3 += "</div>"  
			        	    
			        	    
			        	     if(num_array[i] == 1){
			        	    	$("div[class='res_list_"+j+"']").append(html_1);
					         }else if(num_array[i] == 2){
					        	$("div[class='res_list_"+j+"']").append(html_2);
					         }else if(num_array[i] == 3){
					        	$("div[class='res_list_"+j+"']").append(html_3);
					         }    
						}
			        }
				}
		        
			}
		}
    }
</script>
</body>
</html>