<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <link rel="stylesheet" href="css/info.css">
    <title>부산영화체험박물관 | 시그니쳐(MI)</title>
</head>
<body>
<div th:replace="/head :: head">

</div>
<div class="gnb_bar">
    <ul class="gnb_wrap">
        <a href="/"><li class="home_btn"><img src="/imgs/home_icon.png"></li></a>
        <li class="div_bar">|</li>
        <li class="category_1" onclick="drop_gnb(1)">박물관 소개<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
        <li class="category_2" onclick="drop_gnb(2)">시그니쳐(MI)<img src="/imgs/gnb_drop_icon.svg" class="gnb_drop_icon"></li>
        <li class="div_bar">|</li>
    </ul>
</div>

<div class="gnb_bar_drop">
    <ul id="depth_1">
    	<a href="/viewing_guidance"><li>관람정보</li></a>
    	<a href="/experience_zone_3rdFloor"><li>전시</li></a>
    	<a href="/museum_newsList"><li>소통</li></a>
    	<a href="/greetings"><li>박물관소개</li></a>
    </ul>
    
    <ul id="depth_2">
    	<a href="/greetings"><li>인사말</li></a>
    	<a href="/organization_chart"><li>조직도</li></a>
    	<a href="/history"><li>연혁</li></a>
    	<a href="/facility_info"><li>시설현황</li></a>
    	<a href="/signature"><li>시그니쳐(MI)</li></a>
    	<a href="/donation_info"><li>기증안내</li></a>
    </ul>
</div>
<script>
	function drop_gnb(num){
		$('#depth_'+num).css('display', 'block');
		
		//외부영역 클릭시 드롭메뉴 닫기
		$(document).mouseup(function (e) {
			var movewrap = $('#depth_'+num);
			if (movewrap.has(e.target).length === 0) {
				movewrap.hide();
			}
		});
	}
</script>
<div class="wrap">
	<div class="contents_wrap">
		<div class="page_title">
			<div class="page_name_area"><h1>시그니쳐(MI)</h1></div>
		</div>
	</div>
	<div class="info_area">
		<div class="text_title">
			<div>STORY</div>
		</div>
		<div class="text_sub_title">
			<div>영화도시 부산의 '봄'을 맞이하다</div>
		</div>
		<div class="text_content">
			부산영화체험박물관 시그니처 : ‘BUSAN MUSEUM OF MOVIES’의 약자 ‘BOM’으로 부산영화체험박물관의 명칭입니다.<br>
			‘보다’의 명사형과 계절 ‘봄(春)’의 중의적 표현으로 ‘영화를 보다’, ‘부산영화의 봄을 맞이하다’라는 의미를 담고 있습니다.
		</div>
		<div class="signature_img_area">
			<img src="/imgs/signature_logo.png">
		</div>
	</div>
	<div class="color_area">
		<div class="text_title">
			<div>PRIMARY COLOR</div>
		</div>
		<div class="text_content">
			‘BOM ORANGE’는 차별화된 ORANGE COLOR로 ‘부산영화체험박물관 봄‘ 의 다양한 컨텐츠를 경험하고 체험하는 밝고 경쾌한 이미지를 표현하고, 
			글로벌 영화산업을 향한 진취적 기상과 박물관의 브랜드 가치를 반영합니다. 
			박물관의 전체적인 분위기를 주도하여 따뜻하고 활기차며 경쾌함을 주는 박물관의 이미지를 끌어냅니다.
		</div>
		<div class="signature_color_area">
			<img src="/imgs/signature_color.png">
		</div>
		<div class="color_table">
			<table class="color_tb">
				<tr class="tb_top">
					<td class="first_td">element</td>
					<td class="second_td">description</td>
				</tr>
				<tr class="tb_bottom">
					<td class="first_td">Spot Color</td>
					<td class="second_td">Pantone 172 C</td>
				</tr>
				<tr class="tb_bottom">
					<td rowspan="4" class="first_td">Process Color</td>
					<td class="second_td">Cyan 0%</td>
				</tr>
				<tr class="tb_bottom">
					<td class="second_td">Magenta 80%</td>
				</tr>
				<tr class="tb_bottom">
					<td class="second_td">Yellow 90%</td>
				</tr>
				<tr class="tb_bottom">
					<td class="second_td">Black 0%</td>
				</tr>
				<tr class="tb_bottom">
					<td rowspan="3" class="first_td">RGB Value</td>
					<td class="second_td">R : 233</td>
				</tr>
				<tr class="tb_bottom">
					<td class="second_td">G : 78</td>
				</tr>
				<tr class="tb_bottom">
					<td class="second_td">B : 36</td>
				</tr>
				<tr class="tb_bottom">
					<td class="first_td">WEB</td>
					<td class="second_td">#E94E24</td>
				</tr>
			</table>			
		</div>
	</div>
</div>


<div th:replace="/footer :: footer"></div>
</body>
</html>